body{
    background-color: black;
}

h2 a{
    color: greenyellow;
}

h2 a:hover{
    color: green;
}

button{
    position:relative;
    margin-top:44.5%;
}

#leave{
    float: left;
}

#mic,
#camera{
    left: 44.5%;
}

#feedback{
    float: right;
}