/* Active Session CSS */

#active-session-page{
    background-color: black;
}

#active-session-page h2 a{
    color: greenyellow;
}

#active-session-page h2 a:hover{
    color: green;
}

#active-session-page button{
    position:relative;
    margin-top:44.5%;
}

#active-session-page #leave{
    float: left;
}

#active-session-page #mic,
#active-session-page #camera{
    left: 44.5%;
}

#active-session-page #feedback{
    float: right;
}