/* Overall Page CSS */
body{
    background-color: black;
}

/* Link CSS */
h2 a{
    color: greenyellow;
}

h2 a:hover{
    color: green;
}

/* Button CSS */
button{
    position:relative;
    margin-top:44.5%;
}

#leave{
    float: left;
}

#mic,
#camera{
    left: 44.5%;
}

#feedback{
    float: right;
}