/* Admin Page */

#admin-page{
  box-sizing: border-box;
}

#admin-page .row {
  display: flex;
}

#admin-page .column {
  flex: 50%;
  padding: 10px;
}

#admin-page .get {
    border: 5px groove aqua;
}

#admin-page .get-button {
    background-color: aqua;
}

#admin-page .post {
    border: 5px groove lime;
}

#admin-page .post-button {
    background-color: lime;
}

#admin-page .put {
    border: 5px groove goldenrod;
}

#admin-page .put-button {
    background-color: goldenrod;
}

#admin-page .delete {
    border: 5px groove red;
}

#admin-page .delete-button {
    background-color: red;
}