/* Overall */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Candal', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#select-category-wrapper {
    display: inline-block;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

input[type="radio"] {
    padding: 10px, 0px;
}

input[type="text"] {
    padding: 5px;
    margin: 10px;
}

.gallery-image {
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: auto;
}

.gallery-image:hover {
    outline: 2px solid rgb(0, 220, 0);
}

#image-collection {
    display: inline-block;
    background-color: rgb(240, 240, 240);
}