/* Overall */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Candal', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

.page-wrapper a:hover {
    color: rgb(160, 218, 160);
}

.post-slider {
    position: relative;
    margin-top: 50px;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 70%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    background-color: rgb(225,225,225);
    border-radius: 10px;
    /* box-shadow: 1rem 1rem 1rem -1rem white; */
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 10px;
    text-align: center;
}


.slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}