/* Start: Overall */
/* Start: Overall */
/* Start: Overall */

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

p {
    padding: 5px;
    font-size: 18px;
}

.normal-credits, .works-cited-container {
    padding: 5vh 5vw;
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 24px;
}

/* End: Overall */
/* End: Overall */
/* End: Overall */

/* Start: Preview */
/* Start: Preview */
/* Start: Preview */

.preview-to-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 350px;
    background-image: 
        linear-gradient(rgba(150, 221, 150, 0.742), rgba(150, 221, 150, 0.742)),
        url(../images/about_us.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.preview-title {
    background-color: rgb(147, 230, 147);
    width: fit-content;
    max-width: 80vw;
    padding: 30px 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.preview-description {
    width: fit-content;
    max-width: 60vw;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

/* End: Preview */
/* End: Preview */
/* End: Preview */