/* Overall */
.textarea {
    position: relative;
    background-color: rgb(220, 220, 220);
    color: .666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 90%;
    max-width: 40vw;
    height: 130px;
    resize: none;
}

.gallery-image:hover {
    outline: 2px solid rgb(0, 220, 0);
}
#edit-skills-section {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    grid-template-areas:
    "card";
    padding: 20px;
    width: 50vw;
    z-index: 1000;
}

.card-container {
    grid-area: card;
}

.image-collection {
    visibility: visible;
    margin-top: auto;
    margin-bottom: 100px;
}

input[type="radio"] {
    vertical-align: middle;
    margin: 0;
    padding: 10px 0px;
}

.radio-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, auto); 
  gap: 10px; 
}

.radio-group-grid input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle; 
}

.text-group {
    padding: 0px 10px;
    position: relative;
    width: 90%;
    max-width: 40vw;
}

.characters-left {
    position: absolute;
    right: 0;
    margin-bottom: 2%;
    margin-right: 5%;
    opacity: 0.5;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

.image-collection {
    visibility: hidden;
    width: 40vw;
    height: 200px;
}

.post-slider {
    position: relative;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 5%; 
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-wrapper {
    width: 70%;
    height: 30%;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}

.post {
    width: 300px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.gallery-image {
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
    height: 160px;
    object-fit: cover;
}

/* Card CSS */
/* Card CSS */
/* Card CSS */

/* Card Title */
.card
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

/* Card Image */
.card-image 
{
    text-align: center;
}

.card-image img
{
    border-radius: 20px;
    width: 300px;
    height: auto;
    object-fit: cover;
}

/* Everything under the image */
.card-content
{
    margin-top: 10px;
    display: inline-block;
    height: 60%;
}

/* Card Creator */
.creator
{
    display: flex;
    align-items: center;
}

.creator i
{
    margin-right: 5px;
}

/* Card Description */
.card-desc
{
    margin-top: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 120px;
}

/* Card Tags */

/* Ratings */
.rating
{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.rating i
{
    margin-right: 5px;
}

@media only screen and (max-width: 720px) {

body.active-popup {
    /* height: 100vh; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.image-collection {
    visibility: hidden;
    width: 80vw;
    height: 200px;
}

.textarea {
    position: relative;
    background-color: rgb(220, 220, 220);
    color: .666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 90%;
    max-width: 90vw;
    height: 130px;
    resize: none;
}

.text-group {
    position: relative;
    width: 90%;
    max-width: 90vw;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 32vh;
    margin-right: 8vw;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.radio-group-grid {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(8, auto); 
    gap: 10px; 
}

.radio-header {
    border-top-width: 20px;
    padding: 20px 10px;
    margin: 20px;
}

/* Cards CSS */
/* Cards CSS */
/* Cards CSS */
.card
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 380px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

/* Card Image */
.card-image 
{
    text-align: center;
}

.card-image img
{
    border-radius: 20px;
    width: 200px;
    height: auto;
    object-fit: cover;
}

/* Everything under the image */
.card-content
{
    margin-top: 10px;
    display: inline-block;
    height: 60%;
}

/* Card Creator */
.creator
{
    display: flex;
    align-items: center;
}

.creator i
{
    margin-right: 5px;
}

/* Card Description */
.card-desc
{
    overflow-wrap: break-word;
    height: 120px;
}

/* Card Tags */
.card-tags
{
    margin-top: 20px;
}

/* Ratings */
.rating
{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.rating i
{
    margin-right: 5px;
}

}