/* Overall */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Candal', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#select-category-wrapper {
    display: inline-block;
    padding: 10px;
    margin: 20px 100px;
}

input[type="radio"] {
    padding: 10px, 0px;
}

.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 500px;
    height: 100px;
    resize: none;
}

.gallery-image {
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: auto;
}

.gallery-image:hover {
    outline: 2px solid rgb(0, 220, 0);
}

#image-collection {
    display: inline-block;
    background-color: rgb(240, 240, 240);
}

.card {
    margin: 20px 100px;
}