/* Overall */
#popup {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    visibility: hidden;
    height: 100vh;
}

.radio-grid {

}

input[type="radio"] {
    vertical-align: middle;
    margin: 0;
    /* accent-color */
}

#popup.open {
    opacity: 1;
    z-index: 999;
}

#select-category-wrapper {
    display: grid;
    grid-template-areas:
    "form card"
    "images card";
    place-items: center;
    position: relative;
    background-color: rgb(230, 230, 230);
    width: 80vw;
    height: 80vh;
}

#select-category-wrapper .fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

input[type="radio"] {
    padding: 10px, 0px;
}

.textarea {
    background-color: rgb(220, 220, 220);
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 500px;
    height: 130px;
    resize: none;
}

.gallery-image:hover {
    outline: 2px solid rgb(0, 220, 0);
}

.card-container {
    grid-area: card;
}

#select-category {
    grid-area: form;
}

.text-group {
    position: relative;
}

#characters-left {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: 0.25;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

#image-collection {
    visibility: hidden;
    grid-area: images;
    width: 40vw;
}

.post-slider {
    position: relative;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 5%; 
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-wrapper {
    width: 70%;
    height: 30%;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}

.post {
    width: 300px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.gallery-image {
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
    height: 160px;
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
#select-category-wrapper {
    display: grid;
    grid-template-areas:
    "form"
    "images"
    "card";
    place-items: center;
    position: relative;
    background-color: rgb(230, 230, 230);
}

.textarea {
    background-color: rgb(220, 220, 220);
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    width: 400px;
    height: 100px;
    resize: none;
}

.text-group {
    position: relative;
}

#characters-left {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    margin-right: 2%;
    opacity: 0.25;
}

}