.hide-on-desktop {
    display: none;
}

@media only screen and (max-width: 991px) {
    .hide-on-mobile {
        display: none !important;
    }

    .hide-on-desktop {
        display: block;
    }

    /* Style the buttons that are used to open and close the accordion panel. */
    .footer-accordion {
        background-color: rgb(240, 240, 240);
        color: rgb(50, 50, 50);
        font-weight: 800;
        cursor: pointer;
        padding: 20px 50px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on, and when you move the mouse over it.*/
    .active, .footer-accordion:hover {
        background-color: rgb(230, 230, 230);
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .footer-accordion:after {
        content: '\f107'; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: '\f106'; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .sub-grid ul {
        padding: 20px 50px;
        list-style-type: none;
    }

    .sub-grid ul li {
        margin: 5px 0px;
    }
}