/* Overall */

#main-page h1, #main-page h2, #main-page h3, #main-page h4, #main-page h5, #main-page h6, #main-page p {
    font-family: 'Candal', serif;
    text-align: center;
}

#main-page a {
    text-decoration: none;
    color: inherit;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

#main-page .page-wrapper a:hover {
    color: rgb(160, 218, 160);
}

#main-page .post-slider {
    position: relative;
    margin-top: 50px;
}

#main-page .post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

#main-page .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

#main-page .post-slider .next {
    position: absolute;
    top: 50%;
    right: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

#main-page .post-slider .post-wrapper {
    width: 70%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

#main-page .post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    background-color: rgb(225,225,225);
    border-radius: 10px;
    /* box-shadow: 1rem 1rem 1rem -1rem white; */
}

#main-page .post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 10px;
    text-align: center;
}


#main-page .slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* About Skillswap Grid */
/* About Skillswap Grid */
/* About Skillswap Grid */

#main-page .skillswap-title {
    margin-top: 100px;
}

#main-page .about-skillswap {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); /*fr = fractional unit*/
    column-gap: 25px;
    grid-template-areas:
        "image1 image2 image3"
        "header1 header2 header3"
        "desc1 desc2 desc3"
        "desc1 desc2 desc3";
    background-color: rgb(240,240,240);
    padding: 0px 50px 0px 50px;
    height: 500px;
}

#main-page .image1 { grid-area: image1; margin-top: 25px; }
#main-page .image2 { grid-area: image2; margin-top: 25px; }
#main-page .image3 { grid-area: image3; margin-top: 25px; }

#main-page .about-ss-image {
    border-radius: 50%; 
    border: 2px solid black;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#main-page .header1 { grid-area: header1; }
#main-page .header2 { grid-area: header2; }
#main-page .header3 { grid-area: header3; }

#main-page .desc1 { grid-area: desc1; }
#main-page .desc2 { grid-area: desc2; }
#main-page .desc3 { grid-area: desc3; }

/* Categories Cards */
/* Categories Cards */
/* Categories Cards */

/* Cards Container */
#main-page .skill-categories {
    display: grid;
    margin: 100px 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    overflow: hidden;
}

/* For All Cards */
#main-page .card {
    height: 250px; 
    background-color: rgb(92, 146, 92);
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* Card Image Properties */
#main-page .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out transform,
                300ms ease-in-out filter;
}

#main-page .card:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}

#main-page [id^="hidden-"] { /* Hidden Text Content */
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transform: translate(0, 100%);
    background-color: rgba(160, 218, 160, 0.5);
    transition: 300ms ease-in-out transform;
}


#main-page [id$="-header"] { /* Card Headers */
    position: absolute;
    background-color: rgba(160, 218, 160, 0.5);
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    bottom: 0;
}

/* Media Queries */
/* Media Queries */
/* Media Queries */

/*Small Mobile Devices*/
@media only screen and (max-width: 320px) {
    /* Add responsiveness to the grid here */
}

/*Large Mobile Devices and Low-Res Tablets*/
@media only screen and (min-width: 375px) and (max-width:424px) {
    /* Add responsiveness to the grid here */
}

/*Tablets in Portrait and Landscape Orientation*/
@media only screen and (min-width: 425px) and (max-width:767px) {
    /* Add responsiveness to the grid here */
}

/*Laptops and Small Desktops*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    /* Add responsiveness to the grid here */
}

/*Large Desktops*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Add responsiveness to the grid here */
}

@media only screen and (min-width: 1440px) {
    /* Add responsiveness to the grid here */
}