.main-page-carousel
{
    display: flex;
    justify-content: center;

}

/* Post Slider */
.post-slider
{
    border: 1px green
}
.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    border: 1px dashed green 
}

.post-slider .post-wrapper .post {
    width: 100px;
    height: 350px;
    margin: 0px 10px;
    overflow: hidden;
    display: inline-block;
    background-color: lightblue;
}