/* Overall */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Candal', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

.page-wrapper a:hover {
    color: rgb(160, 218, 160);
}

.post-slider {
    position: relative;
    margin-top: 50px;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 70%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    background-color: rgb(225,225,225);
    border-radius: 10px;
    /* box-shadow: 1rem 1rem 1rem -1rem white; */
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 10px;
    text-align: center;
}


.slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* About Skillswap Section */
/* About Skillswap Section */
/* About Skillswap Section */

.skillswap-title {
    margin: 100px 0 50px;
}

[class^=about-section-] {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    max-height: 500px;
    background-color: rgb(220, 220, 220);
}

.about-section-2 {
    background-color: rgb(200, 200, 200);
}

.center-this-line
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.my-line {
    border: none; /* Removes default browser border */
    height: 10px; 
    background-color: rgb(121, 224, 121); 
    width: 70%; 
    margin-bottom: 10px;
}

.section-description
{
    padding: 0px 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.section-description h3
{
    font-size: 1.5rem;
}

.section-description p
{
    font-size: 19px;
    margin-top: 20px;
}

.section-image img{
    flex: 3;
    width: 50vw;
    height: 100%;
}

/* Categories Cards */
/* Categories Cards */
/* Categories Cards */

.category-title 
{
    margin-top: 50px;
}

/* Cards Container */
.skill-categories {
    display: grid;
    margin: 50px 10vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    overflow: hidden;
}

/* For All Cards */
.card {
    height: 250px; 
    background-color: rgb(92, 146, 92);
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* Card Image Properties */
.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out transform,
                300ms ease-in-out filter;
}

.card:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}

[id^="hidden-"] { /* Hidden Text Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transform: translate(0, 100%);
    background-color: rgba(81, 209, 81, 0.6);
    transition: 300ms ease-in-out transform;
    line-height: 1.75em;
}

[id^="hidden-"] li:hover
{
    text-decoration: underline;
}


[id$="-header"] { /* Card Headers */
    position: absolute;
    background-color: rgba(81, 209, 81, 0.6);
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    bottom: 0;
}

/* Frequently Asked Questions */
/* Frequently Asked Questions */
/* Frequently Asked Questions */

/* Style the buttons that are used to open and close the accordion panel. */
.accordion {
    background-color: #fafafa;
    color: rgb(50, 50, 50);
    font-weight: 800;
    cursor: pointer;
    padding: 20px 10vw;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on, and when you move the mouse over it.*/
.active-faq, .accordion:hover {
    background-color: rgb(230, 230, 230);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\f107'; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active-faq:after {
    content: '\f106'; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.faq-sub-grid ul {
    padding: 20px 10vw;
    list-style-type: none;
}

.faq-sub-grid ul li {
    margin: 5px 0px;
}

/* Media Queries */
/* Media Queries */
/* Media Queries */

/*Small Mobile Devices*/
@media only screen and (max-width: 320px) {
    /* Add responsiveness to the grid here */
}

