/* Overall */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Candal', serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

.page-wrapper a:hover {
    color: rgb(160, 218, 160);
}

.post-slider {
    position: relative;
    margin-top: 50px;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 8%; /* fix arrows cutting off */
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 70%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 330px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    background-color: rgb(225,225,225);
    border-radius: 10px;
    /* box-shadow: 1rem 1rem 1rem -1rem white; */
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 10px;
    text-align: center;
}


.slider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* About Skillswap Section */
/* About Skillswap Section */
/* About Skillswap Section */

.skillswap-title {
    margin: 100px 0 50px;
}

[class^=about-section-] {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    max-height: 500px;
    background-color: rgb(220, 220, 220);
}

.about-section-2 {
    background-color: rgb(200, 200, 200);
}

.center-this-line
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.my-line {
    border: none; /* Removes default browser border */
    height: 10px; 
    background-color: rgb(121, 224, 121); 
    width: 70%; 
    margin-bottom: 10px;
}

.section-description
{
    padding: 0px 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.section-description h3
{
    font-size: 1.5rem;
}

.section-description p
{
    font-size: 19px;
    margin-top: 20px;
}

.section-image img{
    flex: 3;
    width: 50vw;
    height: 100%;
}

/* Categories Cards */
/* Categories Cards */
/* Categories Cards */

.category-title 
{
    margin-top: 50px;
}

/* Cards Container */
.skill-categories {
    display: grid;
    margin: 50px 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    overflow: hidden;
}

/* For All Cards */
.card {
    height: 250px; 
    background-color: rgb(92, 146, 92);
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* Card Image Properties */
.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms ease-in-out transform,
                300ms ease-in-out filter;
}

.card:hover img {
    transform: scale(1.2);
    filter: blur(1px);
}

[id^="hidden-"] { /* Hidden Text Content */
    margin: 0;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transform: translate(0, 100%);
    background-color: rgba(81, 209, 81, 0.6);
    transition: 300ms ease-in-out transform;
    line-height: 1.75em;
}

[id^="hidden-"] li:hover
{
    text-decoration: underline;
}


[id$="-header"] { /* Card Headers */
    position: absolute;
    background-color: rgba(81, 209, 81, 0.6);
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    bottom: 0;
}

/* Media Queries */
/* Media Queries */
/* Media Queries */

/*Small Mobile Devices*/
@media only screen and (max-width: 320px) {
    /* Add responsiveness to the grid here */
}

