*
{
    font-family: Arial, Helvetica, sans-serif
}

/* Signup Page CSS */
/* Signup Page CSS */
/* Signup Page CSS */

body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat
}

#signup_form
{
    display: flex;
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    box-shadow: 5px 10px 10px black;
    width: 360px;
    padding: 0px 40px 25px 40px;
    background-color: #f6f6f6;
}

#submit
{
    background-color: #7ed957;
    font-size: 20px;
    padding: 5% 30% 5% 30%;
}

#signup-to-login-link
{
    text-decoration: none;
}

#username, #password, #email
{
    width: 100%;
    height: 20px;
    padding: 8px;
}

h1
{
    color:#7ed957;
}

span 
{
    color: red;
}

#extra-information {
    display: flex;
    justify-content: center;
}


/* Login Page CSS */
/* Login Page CSS */
/* Login Page CSS */
#login-body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login_block
{
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    text-align: center;
    width: max-content;
    height: 50%;
    padding: 0px 40px 25px 40px;
    background-color: #f6f6f6;
    margin-top: 250px;
}