#signup_block {
    border-style: solid;
    border-radius: 50px;
    border-color: black;
    padding: 5px;
    text-align: center;
    width: max-content;
    height: 50%;
    padding: 25px 40px 80px 40px;
    background-color: #f6f6f6;
}
button{
    background-color: #7ed957;
}

#parent
{
    display: grid;
    place-items: center;
    height: 100vh;
}

