body{
    background-color: #d9d9d9;
}
div {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    text-align: center;
}
button{
    background-color: #7ed957;
}

