/* CSS file for all css common amonst each html page */
body 
{
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    width: 100%;
    background-color: #fafafa;
}

/* Navbar CSS */
.navbar-body {
    display: flex;
    height: 75px;
    background-color: #c8e8ba; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #bfd8b4, #c8e8ba);
    border-style: solid;
}

.navbar-body .list-item {
    list-style-type: none;
}

.navbar-title{
    justify-content: flex-start;
}

.navbar-signup-button{
    justify-content: flex-end;
}

.profile-picture{
    justify-content: flex-end;
}

/* Footer CSS */
footer
{
    text-align: center;
    height: fit-content;
    width: 100%;
    background-color: rgb(95, 201, 95);
    border: 3px solid rgb(46, 83, 9);
}

footer ul
{   
    margin: 0;
    padding: 0;
    display: flex;
}

footer li
{   
    margin: 0;
    padding: 0;
    flex: 1;
    list-style-type: none;
}

footer li a
{
    color: black;
    text-decoration: none;
}

footer h6
{   
    margin: 0;
    padding: 10px;
    border-top: 3px solid rgb(28, 53, 3);
    background-color: rgb(57, 126, 57);
}