/* CSS file for all css common amonst each html page */
*
{
    margin: 0;
    padding: 0;
}

body 
{
    text-decoration: none;
    width: 100%;
    background-color: #fafafa;
}

/* Navbar CSS */
.navbar-body {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar-header .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-header .navbar ul li {
    position: relative;
    float: left;
}

.navbar-header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: rgb(50, 50, 50);
    display: block;
    text-decoration: none;
}

.navbar-header .navbar ul li a:hover {
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.navbar-header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(255, 255, 255);
    display: none;
}

.navbar-header .navbar ul li ul li {
    width: 100%;
}

.navbar-header .navbar ul li:focus-within > ul,
.navbar-header .navbar ul li:hover > ul {
    display: initial;
    width: 150%;
}

#menu-bar {
    display: none;
}

.navbar-header label {
    font-size: 20px;
    color: rgb(50, 50, 50);
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar-header {
        padding: 20px;
    }

    .navbar-header label {
        display: initial;
    }

    .navbar-header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    } 

    .navbar-header .navbar ul {
        display: block;
        align-items: center;
    }

    .navbar-header .navbar ul li {
        width: 100%;
    }

    .navbar-header .navbar ul li ul {
        position: relative; 
        width: 100%;
    }

    .navbar-header .navbar ul li ul li {
        background: rgb(255, 255, 255);
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* Footer CSS */

footer a 
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: #a1db89;
    text-decoration: underline;
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(240,240,240);
    line-height: 1.5;
    margin-top: 50px;
}

/* Top Portion */
/* Top Portion */
/* Top Portion */
#skillswap-intro
{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/* Middle Portion */
/* Middle Portion */
/* Middle Portion */

#grid-container
{
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "skills links more contact"
    "skills links more contact";
    padding: 20px 0px;
}

/* Header Text */
.sub-grid-header
{
    font-weight: bold;
    font-size: large;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

#grid-container ul
{
    list-style-type: none;
}

/* Bottom Portion */
/* Bottom Portion */
/* Bottom Portion */
#copyright-and-media
{
    display: flex;
    justify-content: space-between;
    align-items: center; /* align vertically */
    padding: 0px 50px;
    background-color: rgb(220, 220, 220);
}

.media
{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

/* Media Icons */
.media i
{
    padding: 0px 10px;
    text-decoration: none;
}

.hide-on-desktop {
    display: none;
}

@media only screen and (max-width: 991px) {
    /* Begin: Navbar Responsive CSS */
    /* Begin: Navbar Responsive CSS */
    /* Begin: Navbar Responsive CSS */
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    } 

    header .navbar ul {
        display: block;
        align-items: center;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative; 
        width: 100%;
    }

    header .navbar ul li ul li {
        background: rgb(255, 255, 255);
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    /* End: Navbar Responsive CSS */
    /* End: Navbar Responsive CSS */
    /* End: Navbar Responsive CSS */

    /* Begin: Footer Responsive CSS */
    /* Begin: Footer Responsive CSS */
    /* Begin: Footer Responsive CSS */
    .hide-on-mobile {
        display: none !important;
    }

    .hide-on-desktop {
        display: block;
    }

    /* Style the buttons that are used to open and close the accordion panel. */
    .footer-accordion {
        background-color: rgb(240, 240, 240);
        color: rgb(50, 50, 50);
        font-weight: 800;
        cursor: pointer;
        padding: 20px 50px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on, and when you move the mouse over it.*/
    .active-footer, .footer-accordion:hover {
        background-color: rgb(230, 230, 230);
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .footer-accordion:after {
        content: '\f107'; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active-footer:after {
        content: '\f106'; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .sub-grid ul {
        padding: 20px 50px;
        list-style-type: none;
    }

    .sub-grid ul li {
        margin: 5px 0px;
    }
    /* End: Footer Responsive CSS */
    /* End: Footer Responsive CSS */
    /* End: Footer Responsive CSS */
}