/* CSS file for all css common amonst each html page */
body 
{
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    width: 100%;
<<<<<<< HEAD
=======
    background-color: #fafafa;
>>>>>>> 70e990d8060269174415b0733fb235e8124c59b6
}
