h1{
    margin: 0px;
    padding: 0px;
}

.navbar
{
    border-style: solid;
}

.messages-page{
    background-color: gray;
    display: flex;
    height: 90vh;
    width: 100vw;
}

.contacts{
    width: 25%;
    display:flex;
    flex-direction: column;
}

.contacts-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-person{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messaging{
    width: 75vw;
    align-content: center;
}

.messaging-area{
    background-color: lightgray;
    height: 75vh;
}

.message-input{
    box-sizing: border-box;
    max-width: 1000x;
    padding: 20px 25px;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
    margin-left: 15px;
    width: 80%;
    resize: none;
}
.message-send-button{
    display: inline;
}

