/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

#messages-page {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);
}
/* end: Globals */



/* start: Chat */
#messages-page .chat-section {
    box-shadow: inset 0 160px 0 0 var(--emerald-500);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-100);
}
#messages-page .chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    position: relative;
}
/* end: Chat */



/* start: Sidebar */
#messages-page .chat-sidebar {
    width: 64px;
    background-color: var(--slate-100);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}
#messages-page .chat-sidebar-logo {
    font-size: 28px;
    color: var(--emerald-600);
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
}
#messages-page .chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
#messages-page .chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--slate-400);
    position: relative;
    transition: color .15s ease-in-out;
}
#messages-page .chat-sidebar-menu > * > a:hover {
    color: var(--slate-600);
}
#messages-page .chat-sidebar-menu > .active > a {
    box-shadow: inset 4px 0 0 0 var(--emerald-500);
    color: var(--emerald-600);
    background-color: var(--emerald-100);
}
#messages-page .chat-sidebar-menu > * > a::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
#messages-page .chat-sidebar-menu > * > a:hover::before {
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
#messages-page .chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
#messages-page .chat-sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
#messages-page .chat-sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#messages-page .chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
#messages-page .chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
#messages-page .chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;
}
#messages-page .chat-sidebar-profile-dropdown a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
#messages-page .chat-sidebar-profile-dropdown a:active {
    background-color: var(--slate-200);
}
#messages-page .chat-sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}
/* end: Sidebar */



/* start: Content side */
#messages-page .chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
#messages-page .content-sidebar {
    width: 256px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
}
#messages-page .content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
#messages-page .content-sidebar-form {
    position: relative;
    padding: 0 16px;
}
#messages-page .content-sidebar-input {
    padding: 8px 16px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
#messages-page .content-sidebar-input:focus {
    border-color: var(--slate-400);
}
#messages-page .content-sidebar-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: var(--slate-400);
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
#messages-page .content-sidebar-submit:hover {
    color: var(--slate-600);
}
#messages-page .content-messages {
    overflow-y: auto;
    height: 100%;
    margin-top: 16px;
}
#messages-page .content-messages-list {
    list-style-type: none;
    padding: 8px 0;
}
#messages-page .content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-700);
    padding: 6px 16px;
}
#messages-page .content-messages-list > * > a:hover {
    background-color: var(--slate-50);
}
#messages-page .content-messages-list > .active > a {
    background-color: var(--slate-100);
}
#messages-page .content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--slate-400);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
#messages-page .content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: var(--white);
}
#messages-page .content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
    z-index: 0;
}
#messages-page .content-message-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
#messages-page .content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
#messages-page .content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
#messages-page .content-message-text {
    font-size: 13px;
    color: var(--slate-400);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#messages-page .content-message-more {
    text-align: right;
}
#messages-page .content-message-unread {
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--emerald-500);
    padding: 2px 4px;
    border-radius: 4px;
}
#messages-page .content-message-time {
    font-size: 12px;
    color: var(--slate-400);
    font-weight: 500;
}
/* end: Content side */



/* start: Conversation */
#messages-page .conversation {
    background-color: var(--slate-100);
    height: 100%;
    padding-left: 256px;
    display: none;
}
#messages-page .conversation.active {
    display: flex;
    flex-direction: column;
}
#messages-page .conversation-top {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}
#messages-page .conversation-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--slate-400);
    margin-right: 12px;
    display: none;
}
#messages-page .conversation-back:hover {
    background-color: var(--slate-100);
    border-radius: 50%;
    color: var(--slate-600);
}
#messages-page .conversation-back:active {
    background-color: var(--slate-200);
}
#messages-page .conversation-user {
    display: flex;
    align-items: center;
}
#messages-page .conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
#messages-page .conversation-user-name {
    font-weight: 500;
    font-size: 17px;
}
#messages-page .conversation-user-status {
    color: var(--slate-400);
    font-size: 13px;
}
#messages-page .conversation-user-status::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--slate-300);
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
#messages-page .conversation-user-status.online::before {
    background-color: var(--emerald-500);
}
#messages-page .conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#messages-page .conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: var(--slate-600);
    margin-left: 4px;
}
#messages-page .conversation-buttons > :hover {
    background-color: var(--slate-100);
    color: var(--slate-700);
}
#messages-page .conversation-buttons > :active {
    background-color: var(--slate-200);
}

#messages-page .conversation-main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 16px;
}
#messages-page .conversation-wrapper {
    list-style-type: none;
}
#messages-page .conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}
#messages-page .conversation-item.me {
    flex-direction: row;
}
#messages-page .conversation-item-side {
    margin-left: 8px;
}
#messages-page .conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
#messages-page .conversation-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
#messages-page .conversation-item-content {
    width: 100%;
}
#messages-page .conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
#messages-page .conversation-item-box {
    max-width: 720px;
    position: relative;
    margin-left: auto;
}
#messages-page .conversation-item.me .conversation-item-box {
    margin-left: unset;
}
#messages-page .conversation-item-text {
    padding: 12px 16px 8px;
    background-color: var(--white);
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
}
#messages-page .conversation-item.me .conversation-item-text {
    margin-left: unset;
    margin-right: 32px;
}
#messages-page .conversation-item.me .conversation-item-text {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
    color: rgba(255, 255, 255, .8);
}
#messages-page .conversation-item-time {
    font-size: 10px;
    color: var(--slate-400);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
#messages-page .conversation-item.me .conversation-item-time {
    color: rgba(255, 255, 255, .7);
}
#messages-page .conversation-item-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
#messages-page .conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
#messages-page .conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
#messages-page .conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--white);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
#messages-page .conversation-item-dropdown-toggle:hover {
    background-color: var(--emerald-500);
    color: var(--white);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
}
#messages-page .conversation-item-dropdown-toggle:active {
    background-color: var(--emerald-600);
}
#messages-page .conversation-item-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
#messages-page .conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
#messages-page .conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
#messages-page .conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 13px;
    padding: 6px 12px;
}
#messages-page .conversation-item-dropdown-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
#messages-page .conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
#messages-page .conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
#messages-page .coversation-divider {
    text-align: center;
    font-size: 13px;
    color: var(--slate-400);
    margin-bottom: 16px;
    position: relative;
}
#messages-page .coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
}
#messages-page .coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background-color: var(--slate-100);
    position: relative;
    z-index: 1;
}

#messages-page .conversation-form {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: flex-end;
}
#messages-page .conversation-form-group {
    width: 100%;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}
#messages-page .conversation-form-input {
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}
#messages-page .conversation-form-input:focus {
    border-color: var(--slate-400);
}
#messages-page .conversation-form-record {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
    color: var(--slate-400);
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
}
#messages-page .conversation-form-record:hover {
    color: var(--slate-600);
}
#messages-page .conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: var(--slate-400);
    cursor: pointer;
    flex-shrink: 0;
}
#messages-page .conversation-form-button:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
#messages-page .conversation-form-button:active {
    background-color: var(--slate-200);
    color: var(--slate-600);
}
#messages-page .conversation-form-submit {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 8px -2px var(--emerald-500);
    color: var(--white);
}
#messages-page .conversation-form-submit:hover {
    background-color: var(--emerald-600);
    color: var(--white);
}
#messages-page .conversation-form-submit:active {
    background-color: var(--emerald-700);
    color: var(--white);
}
#messages-page .conversation-default {
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: calc(256px + 16px);
    color: var(--slate-400);
}
#messages-page .conversation-default i {
    font-size: 32px;
}
#messages-page .conversation-default p {
    margin-top: 16px;
}
/* end: Conversation */



/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    #messages-page .chat-sidebar {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 48px;
    }
    #messages-page .chat-sidebar-logo {
        display: none;
    }
    #messages-page .chat-sidebar-menu {
        flex-direction: row;
        padding: 0;
    }
    #messages-page .chat-sidebar-menu > *,
    #messages-page .chat-sidebar-menu > * > a {
        width: 100%;
        height: 100%;
    }
    #messages-page .chat-sidebar-menu > * > a {
        padding: 8px;
    }
    #messages-page .chat-sidebar-menu > .active > a {
        box-shadow: inset 0 4px 0 0 var(--emerald-500);
    }
    #messages-page .chat-sidebar-profile {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    #messages-page .chat-sidebar-profile-toggle {
        width: 32px;
        height: 32px;
    }
    #messages-page .chat-sidebar-profile-dropdown {
        left: unset;
        right: 16px;
    }

    #messages-page .conversation,
    #messages-page .chat-content {
        padding-left: unset;
    }
    #messages-page .content-sidebar {
        left: unset;
        z-index: 10;
        width: 100%;
    }
    #messages-page .chat-sidebar-menu > * > a::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        top: unset;
    }
    #messages-page .chat-sidebar-menu > * > a:hover::before {
        bottom: calc(100% + 8px);
        left: 50%;
    }

    #messages-page .chat-content {
        position: relative;
        height: calc(100% - 48px);
    }
    #messages-page .conversation.active {
        position: relative;
        z-index: 20;
    }
    #messages-page .conversation-back {
        display: flex;
    }
    #messages-page .conversation-default.active {
        display: none;
        padding: 16px;
    }
}
/* end: Breakpoints */