
/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end: Globals */

/* start: chat */
.chat-section {
    box-shadow: inset 0 160px 0 0 green;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: white;
}
/* end: char */

/* start: sidebar */
/* end: sidebar */

