
/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(51, 65, 85);
}
/* end: Globals */

/* start: Chat */
.chat-section {
    box-shadow: inset 0 160px 0 0 rgb(16, 185, 129);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241 245 249);
}
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: white;
    position: relative;
}
/* end: Chat */

/* start: Sidebar */
.chat-sidebar{
    width: 64px;
    background-color: #e2e6e9;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}
.chat-sidebar-logo{
    font-size: 28px;
    color: #50C878;
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;

}
.chat-sidebar-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0px;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(148, 163, 184);
    position: relative;
    transition: color .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover{
    color:rgb(100, 116, 139);
}
.chat-sidebar-menu > .active > a{
    box-shadow: inset 4px 0 0 0 rgb(16, 185, 129);
    color: rgb(5, 150, 105);
    background-color: rgb(209, 250, 229);
}
.chat-sidebar-menu > * > a::before{
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before{
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
.chat-sidebar-profile-toggle{
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: rgb(148, 163, 184);
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: rgb(241, 245, 249);
    color: rgb(71, 85, 105);
}
.chat-sidebar-profile-dropdown a i{
    margin-right: 12px;
    font-size: 17px;

}
/* end: Sidebar */



/* start: Content side */

.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
.content-sidebar{
    width: 256px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
}
.content-sidebar-title{
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form{
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input{
    padding: 8px 16px;
    background-color: rgb(241, 245, 249);
    border: 1px solid rgb(148, 163, 184);
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color: rgb(100, 116, 139);
}
.content-sidebar-submit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: rgb(148, 163, 184);
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.content-sidebar-submit:hover {
    color: rgb(71 85 105);
}
.content-messages{
    list-style-type: none;
    padding: 8px 0;
}
.content-messages-list{
    list-style-type: none;
    padding: 16px;
}
.content-messages-list > * > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(51 65 85);
    padding: 6px 16px;
}
.content-messages-list > * > a:hover {
    background-color: rgb(248 250 252);
}
.content-messages-list > .active > a {
    background-color: rgb(241 245 249);
}
.content-message-title {
    margin-left: 16px;
    margin-right: 16px;
    color: rgb(148 163 184);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
    text-transform: uppercase;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: white;
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(148 163 184);
    height: 0;

    z-index: 0;
}
.content-message-image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info{
    display: grid;
    margin-right: 17px;
}
.content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.content-message-text{
    font-size: 13px;
    color: rgb(100, 116, 139);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more{
    text-align: right;
}
.content-message-unread{
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: rgb(16 185 129);
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 12px;
    color: rgb(148 163 184);
    font-weight: 500;
}
/* end: Content side */


/* start: Conversation */
.conversation{
    background-color: rgb(209, 250, 229);
    height: 100%;
    padding-left: 256px;
}
.conversation-top{
    padding: 16px;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
}
.conversation-user{
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.conversation-user-name{
    font-weight: 500;
    font-size: 17;
}
.conversation-user-status{
    color: rgb(148 163 184);
    font-size: 13px;
}
.conversation-user-status::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(203 213 225);
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.conversation-user-status.online::before {
    background-color: rgb(16 185 129);
}
/* end: Conversation */

/* start: Breakpoint */
@media screen and (max-width: 1600px) {
    .chat-container{
        max-width: unset;
        height: 100vh;
    }
}
/* end: Breakpoint */