
/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(51, 65, 85);
}
/* end: Globals */

/* start: Chat */
.chat-section {
    box-shadow: inset 0 160px 0 0 rgb(16, 185, 129);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: white;
}
/* end: Chat */

/* start: Sidebar */
.chat-sidebar{
    width: 64px;
    background-color: #e2e6e9;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.chat-sidebar-logo{
    font-size: 28px;
    color: #50C878;
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;

}
.chat-sidebar-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0px;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(148, 163, 184);
    position: relative;
    transition: color .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover{
    color:rgb(100, 116, 139);
}
.chat-sidebar-menu > .active > a{
    box-shadow: inset 4px 0 0 0 rgb(16, 185, 129);
    color: rgb(5, 150, 105);
    background-color: rgb(209, 250, 229);
}
.chat-sidebar-menu > * > a::before{
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before{
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
.chat-sidebar-profile-toggle{
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: rgb(148, 163, 184);
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: rgb(241, 245, 249);
    color: rgb(71, 85, 105);
}
.chat-sidebar-profile-dropdown a i{
    margin-right: 12px;
    font-size: 17px;

}
/* end: Sidebar */

/* start: Breakpoint */
@media screen and (max-width: 1600px) {
    .chat-container{
        max-width: unset;
        height: 100vh;
    }
}
/* end: Breakpoint */