/* Profile Section */
#complete-profile-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#complete-profile
{
    background-color: yellow;
    width: 60vw;
    position: relative;
    display: flex;
    padding: 30px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    overflow: auto;
    max-height: 90vh;
    justify-content: space-between;
}

.profile-personal-content
{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-200);
    border-radius: 10px;
    padding: 10px;
}

.pfp
{
    object-fit: cover;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.name-pronouns
{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.edit-profile, .sessions, .rating
{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-bio
{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
    resize: none;
}

/* All Sections */

.Skills
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-200);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    margin-left: 10px;
}