/* Start: Globals */
* {
    margin: 0px;
    padding: 0px;
}
.profile-creation-page {
    display: flex;
    justify-content: center;
    background-color: green;
    height: 100vh;
}
/* End: Globals */

/* Start: Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; 
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
/* End: Dropdown */


.profile-creation-title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

/* Start: Form Inputs */
.creation-page-inputs label{
    display: block;
    padding: 5px 5px 5px 0px;
}
.email-wrapper, .username-wrapper, .display-name-wrapper, .pronouns-wrapper,
.skills-you-have-wrapper, .skills-to-learn-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.creation-page-inputs input {
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.skill-dropdown-textbox
{
    cursor: default;
}

.skills-to-learn-textbox
{
    cursor: default;
}
/* End: Form Inputs */