/* start: Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rating-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-100);
}

.rating-content {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    position: relative;
}
/* end: Globals */



/* start: Close button */
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: var(--red-500);
    border: none;
    background-color: var(--gray-400);
}
.close-button:hover {
    color: var(--red-700);
}
.close-button:active {
    background-color: var(--slate-200);
}
/* end: Close button */

/* start: Reviews Progress Bars */
.progress-bar-wrapper {
    position: relative;
    width: 100%;
    max-width: 1360px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    background-color: var(--gray-400);
    border-radius: 10px;
    
}
.progress-bar-wrapper-header {
    font-size: 24px;
    text-align: center;
}
.progress-bar-skills-wrapper {
    padding: 0 20px;
}
.progress-bar-skills-wrapper .bar {
    margin: 10px 0;
}
.progress-bar-info {
    margin-bottom: 10px;
}
.skill-bar-title {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.progress-bar-skills-wrapper .bar .progress-bar {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.progress-bar-skills-wrapper .bar .progress-bar span {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: var(--blue-600);
}

.progress-bar-skills-wrapper .bar .progress-bar span.five-star{
    width: 50%;
}
.progress-bar-skills-wrapper .bar .progress-bar span.four-star{
    width: 25%;
}
.progress-bar-skills-wrapper .bar .progress-bar span.three-star{
    width: 10%;
}
.progress-bar-skills-wrapper .bar .progress-bar span.two-star{
    width: 10%;
}
.progress-bar-skills-wrapper .bar .progress-bar span.one-star{
    width: 5%;
}
/* end: Reviews Progress Bars */

/* start: Reviews */
/* start: Create Review */
.create-review-input {
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}

/* end: Create Review */

.review{
    margin: 10px;
    background-color: var(--gray-200);
    border-radius: 10px;
}
.review-top {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.review-user {
    display: flex;
    align-items: center;
}
.review-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.review-user-name {
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
}
/* start: stars */
.stars {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.stars i{
    color: black;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.stars i.active {
    color: #ff9c1a;
}
/* end: stars */
.review-comment {
    padding: 0 10px 10px 10px;
}
.read-more-reviews{
    margin:10px;
}
.read-more-reviews-text{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
}
.read-more-reviews-button{
    display: inline;
    color: blue;
    border:none;
    background-color: white;
    cursor: pointer;
    font-size: 17px;
}
.read-more-reviews-button:hover {
    color: var(--blue-900);
}
.read-more-reviews-button:active {
    background-color: var(--slate-200);
}
/* end: Reviews */