/* start: Button */
.close-button{
    display: flex;
    justify-content: flex-end;
}
/* end: Button */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start: stars */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ffd195, #ffb283)
}
.rating-box {
    position: relative;
    background: white;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header{
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: center;
}
.rating-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.stars i{
    color: #e6e6e6;
    font-size: 34px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}
/* end: stars */