/* start: Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end: Globals */

#rating-page .rating-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-100);
}

#rating-page .rating-content {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    position: relative;
}

/* start: Button */
#rating-page .close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: var(--red-500);
    border: none;
    background-color: white;
}
#rating-page .close-button:hover {
    color: var(--red-700);
}
#rating-page .close-button:active {
    background-color: var(--slate-200);
}
/* end: Button */

/* start: Reviews Progress Bars */
#rating-page .progress-bar-wrapper {
    position: relative;
    width: 100%;
    max-width: 1360px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 40px 30px;
    background-color: var(--gray-400);
    border-radius: 10px;
    margin-top: 30px;
    
}
#rating-page .progress-bar-wrapper-header {
    font-size: 24px;
    text-align: center;
}
#rating-page .progress-bar-skills-wrapper {
    padding: 0 20px;
}
#rating-page .progress-bar-skills-wrapper .bar {
    margin: 10px 0;
}
#rating-page .progress-bar-info {
    margin-bottom: 10px;
}
#rating-page .skill-bar-title {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar {
    width: 100%;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar span {
    position: absolute;
    height: 100%;
    border-radius: 10px;
    background-color: var(--blue-600);
}

#rating-page .progress-bar-skills-wrapper .bar .progress-bar span.five-star{
    width: 50%;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar span.four-star{
    width: 25%;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar span.three-star{
    width: 10%;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar span.two-star{
    width: 10%;
}
#rating-page .progress-bar-skills-wrapper .bar .progress-bar span.one-star{
    width: 5%;
}
/* end: Reviews Progress Bars */

/* start: stars */
/* body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ffd195, #ffb283)
} */
#rating-page .rating-box {
    position: relative;
    background: white;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
#rating-page .rating-box header{
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: center;
}
#rating-page .rating-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
#rating-page .stars i{
    color: #e6e6e6;
    font-size: 34px;
    cursor: pointer;
    transition: color 0.2s ease;
}

#rating-page .stars i.active {
    color: #ff9c1a;
}
/* end: stars */