* {
  box-sizing: border-box;
}

/* Temporary navbar for layout */
.navbar-section {
  height: 135px;
  background-color: black;
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
}

.column {
  flex: 50%;
  padding: 10px;
}

/* Dropdown CSS */

#skill-dropdown-button {
    background-color: white;
}

#skill-dropdown {
    display: inline;
}

#skill-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
}

#skill-dropdown:hover #skill-dropdown-content {
    display: inline-block;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#rating-dropdown-button {
    background-color: white;
}

#rating-dropdown {
    display: inline;
}

#rating-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
}

#rating-dropdown:hover #rating-dropdown-content {
    display: inline-block;
    margin:0;
}

/* start: skills dropdown */
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
/* end: skills dropdown */