*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

#update-password
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

#update-password .wrapper
{
    width: 420px;
    background: #f6f6f6;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

#update-password .wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #7ed957;
}

.text-header {
    margin-top: 20px;
    text-align: center;
}

#update-password .wrapper .login {
    width: 100%;
    height: 45px;
    background-color: #7ed957;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 15px 0px;
} 

#update-password .wrapper .login:hover
{
    background-color: #a1db89;
}

#update-password .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

#update-password .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

#update-password .input-box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#update-password .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

#update-password .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0px 5px;
}

#update-password .register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#update-password .register-link p a:hover {
    text-decoration: underline;
}