/* Start: Overall */
/* Start: Overall */
/* Start: Overall */

ul {
    list-style-type: none;
}

#about-us-skills-wrapper {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
}

#about-us-skills-wrapper-title {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    text-decoration: underline;
}

#about-us-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-section {
    padding: 5px;
}

/* End: Overall */
/* End: Overall */
/* End: Overall */

/* Start: Preview */
/* Start: Preview */
/* Start: Preview */

.preview-to-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 350px;
    background-image: 
        linear-gradient(rgba(150, 221, 150, 0.742), rgba(150, 221, 150, 0.742)),
        url(../images/about_us.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.preview-title {
    background-color: rgb(147, 230, 147);
    width: fit-content;
    max-width: 80vw;
    padding: 30px 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.preview-description {
    width: fit-content;
    max-width: 60vw;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

/* End: Preview */
/* End: Preview */
/* End: Preview */

/* Start: Grid Areas */
/* Start: Grid Areas */
/* Start: Grid Areas */
.list-grid {
    display: grid;
    grid-template-areas: 
        "mathematics-list science-list social-studies-list language-arts-list"
        "business-list life-skills-list computers-and-it-list programming-languages-list";
    gap: 20px;
}
.subject-list {
    margin: 10px 0;
}

#mathematics-list { 
    grid-area: mathematics-list;
}
#science-list {
    grid-area: science-list;
}
#social-studies-list {
    grid-area: social-studies-list;
}
#language-arts-list {
    grid-area: language-arts-list;
}
#business-list {
    grid-area: business-list;
}
#life-skills-list {
    grid-area: life-skills-list;
}
#computers-and-it-list {
    grid-area: computers-and-it-list;
}
#programming-languages-list {
    grid-area: programming-languages-list;
}
/* End: Grid Areas */
/* End: Grid Areas */
/* End: Grid Areas */

/* Start: Responsiveness - About Us */
/* Start: Responsiveness - About Us */
/* Start: Responsiveness - About Us */
@media (max-width: 1000px) {
    .list-grid {
        display: grid;
        grid-template-areas: 
            "mathematics-list science-list" 
            "social-studies-list language-arts-list"
            "business-list life-skills-list" 
            "computers-and-it-list programming-languages-list";
    }
}

@media (max-width: 500px) {
    .list-grid {
        display: grid;
        grid-template-areas: 
            "mathematics-list" 
            "science-list" 
            "social-studies-list" 
            "language-arts-list"
            "business-list" 
            "life-skills-list" 
            "computers-and-it-list" 
            "programming-languages-list";
    }
}
/* End: Responsiveness - About Us */
/* End: Responsiveness - About Us */
/* End: Responsiveness - About Us */