* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.get {
    border: 5px groove aqua;
}

.get-button {
    background-color: aqua;
}

.post {
    border: 5px groove lime;
}

.post-button {
    background-color: lime;
}

.put {
    border: 5px groove goldenrod;
}

.put-button {
    background-color: goldenrod;
}

.delete {
    border: 5px groove red;
}

.delete-button {
    background-color: red;
}