/* Overall Page */
/* Overall Page */
/* Overall Page */
#admin-page {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-content-collection {
    padding: 3vw;
}

/* Tabs CSS */
/* Tabs CSS */
/* Tabs CSS */

.button-containers {
    width: 100%;
    display: flex;
}

.tab-buttons {
    flex: 1;
    padding: 10px;
    background-color: inherit;
    cursor: pointer;
    border-style: none;
    background-color: rgb(230, 230, 230);
}

.tab-buttons.active-tab {
    background-color: rgb(250, 250, 250);
}

.tab-buttons:hover {
    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s ease;
}

/* Buttons CSS */
/* Buttons CSS */
/* Buttons CSS */

.important-button
{
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
}
.post-button { background-color: chartreuse; }
.get-button { background-color: cyan; }
.put-button { background-color: gold; }
.delete-button { background-color: orangered; }

/* Text CSS */
/* Text CSS */
/* Text CSS */

h1 {
    width: fit-content;
    text-decoration: underline;
}

h2, h3 {
    margin: 10px 0;
}

form {
    width: 50%;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

ul
{
    list-style-type: none;
}

/* Responsiveness */
/* Responsiveness */
/* Responsiveness */

@media only screen and (max-width: 600px) {
    .tab-content-collection {
        padding: 5vw;
    }

    .button-containers {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tab-buttons {
        flex: 1;
        padding: 10px;
        background-color: inherit;
        cursor: pointer;
        border-style: none;
        background-color: rgb(230, 230, 230);
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    }
}