/* Start: Overall & Works Cited */
/* Start: Overall & Works Cited */
/* Start: Overall & Works Cited */


p {
    padding: 5px;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.normal-credits, .works-cited-container {
    padding: 5vh 5vw;
}

.works-cited-title, .works-cited-content > p {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0;
}

h2 {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

/* End: Overall & Works Cited */
/* End: Overall & Works Cited */
/* End: Overall & Works Cited */

/* Start: Preview */
/* Start: Preview */
/* Start: Preview */

.preview-to-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 350px;
    background-image: 
        linear-gradient(rgba(150, 221, 150, 0.742), rgba(150, 221, 150, 0.742)),
        url(../images/credits.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.preview-title {
    background-color: rgb(147, 230, 147);
    width: fit-content;
    max-width: 80vw;
    padding: 30px 50px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.preview-description {
    width: fit-content;
    max-width: 60vw;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

/* End: Preview */
/* End: Preview */
/* End: Preview */

/* Start: Developer Cards */
/* Start: Developer Cards */
/* Start: Developer Cards */

.developers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

.person {
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.person h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 10px 0;
    font-size: large;
}

/* End: Developer Cards */
/* End: Developer Cards */
/* End: Developer Cards */