/* Overalls */
/* Overalls */
/* Overalls */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a 
{
    color: black;
}

a:hover
{
    color: #a1db89;
    text-decoration: underline;
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(240,240,240);
    line-height: 1.5;
    margin-top: 50px;
}

/* Top Portion */
/* Top Portion */
/* Top Portion */
#skillswap-header
{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

/* Middle Portion */
/* Middle Portion */
/* Middle Portion */

#grid-container
{
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "skills links more contact"
    "skills links more contact";
    padding: 20px 0px;
}

/* Header Text */
.sub-grid-header
{
    font-weight: bold;
    font-size: large;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

#grid-container ul
{
    list-style-type: none;
}

/* Bottom Portion */
/* Bottom Portion */
/* Bottom Portion */
#copyright-and-media
{
    display: flex;
    justify-content: space-between;
    align-items: center; /* align vertically */
    padding: 0px 50px;
    background-color: rgb(220, 220, 220);
}

.media
{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

/* Media Icons */
.media i
{
    padding: 0px 10px;
    text-decoration: none;
}