/* start: Profile Section */
#complete-profile-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#complete-profile
{
    background-color: yellow;
    width: 60vw;
    position: relative;
    display: flex;
    padding: 30px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    overflow: auto;
    max-height: 90vh;
    justify-content: space-between;
}

.profile-personal-content
{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-200);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
}

.profile-personal-content > image {
    display: flex;
    justify-content: center;
    align-content: center;
}
/* start: profile picture section */
.profile-picture-section
{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.pfp
{
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.settings-icon
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: var(--gray-600);
}

.settings-icon-button
{
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.settings-icon-button:hover .settings-icon
{
    color: var(--gray-900);
}
/* end: profile picture section */

/* start: profile information section */
.name-pronouns
{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}


.display-name, .pronouns, .username
{
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: default;
}

.profile-bio
{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
    resize: none;
    margin: 5px;
}


/* end: profile information section */

/* start: sessions-and-ratings buttons */
#sessions-and-ratings
{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
}

#sessions-button, #ratings-button
{
    background-color: var(--gray-400);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}
#sessions-button:hover, #ratings-button:hover
{
    background-color: var(--gray-600);
}
#sessions-button:active, #ratings-button:active
{
    background-color: var(--gray-800);
}
/* end: sessions-and-ratings buttons */

/* start: skills-section */
.Skills
{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;
    max-width: 510px;
    gap: 20px;
}

.skills-you-have, .skills-to-learn
{
    text-align: center;
    background-color: var(--gray-200);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}
.skills-you-have > h2, .skills-to-learn > h2
{
    margin-bottom: 5px;
}

.skills-you-have li, .skills-to-learn li
{
    list-style-type: none;
}

/* end: skills-section */

/* end: Profile Section */

/* Start: responsiveness */

@media screen and (max-width: 1470px) {
    #complete-profile {
        gap: 20px;
    }

    .Skills {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
        gap: 20px;
    }

    .skills-you-have, .skills-to-learn {
        background-color: var(--gray-200);
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 850px) {
    #complete-profile
    {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {

    #complete-profile-parent {
        height: 100%;
        overflow: auto;
    }
    
    #complete-profile
    {
        background-color: yellow;
        width: 100vw;
        position: relative;
        display: flex;
        padding: 30px;
        box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
        background-color: var(--white);
        height: 100%;
        flex-direction: column;
    }

    .Skills {
        margin-top: 10px;
        height: 600px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .profile-bio
    {
        width: 90%;
    }

    .skills-you-have, .skills-to-learn
    {
        background-color: var(--gray-200);
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        height: 200px;
    }
}

/* End: responsiveness */