/* Overall Page */
/* Overall Page */
/* Overall Page */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overall-session-page {
    margin: 5vh 5vw;
    height: fit-content;
    display: flex;
    gap: 4vw;
}

.tab-content-collection {
    padding: 3vw;
}

/* Tabs CSS */
/* Tabs CSS */
/* Tabs CSS */

.button-containers {
    width: 100%;
    display: flex;
}

.tab-buttons {
    flex: 1;
    padding: 10px;
    background-color: inherit;
    cursor: pointer;
    border-style: none;
    background-color: rgb(230, 230, 230);
}

.tab-buttons.active-tab {
    background-color: rgb(250, 250, 250);
}

.tab-buttons:hover {
    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s ease;
}

/* Left: Session Interaction */
/* Left: Session Interaction */
/* Left: Session Interaction */
/* Left: Session Interaction */
/* Left: Session Interaction */

.session-interaction {
    width: 50%;
    margin: 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Title for both tabs */
.creation-tabs h2 {
    margin: 0 0 20px;
}

/* Upcoming & Requested Session Template */
/* Upcoming & Requested Session Template */
/* Upcoming & Requested Session Template */
.upcoming-sessions-container, .requested-sessions-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 610px;
}

.upcoming-session-template, .requested-session-template {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    justify-content: space-between;
    align-content: center;
}

.start-session-button {
    background-color: var(--green-300);
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.start-session-button:hover, .accept-session-button:hover {
    background-color: var(--green-400);
    transition: background-color 0.5s ease;
}

.requested-session-button-container {
    display: flex;
    flex-direction: row;
}

.accept-session-button {
    background-color: var(--green-300);
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    margin-right: 5px;
}

.deny-session-button {
    background-color: var(--red-300);
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.deny-session-button:hover {
    background-color: var(--red-400);
    transition: background-color 0.5s ease;
}

/* Right: Request A Session */
/* Right: Request A Session */
/* Right: Request A Session */
/* Right: Request A Session */
/* Right: Request A Session */

.request-sessions {
    width: 50%;
    margin: 0;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.request-title {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    padding: 0 2vw;
}

.with-wrapper, .when-wrapper, .over-skill-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.with-wrapper label, .when-wrapper label, .over-skill-wrapper label {
    margin: 5px 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: #8ad98a;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color: #a4daa4;
}

.dropdown-mini-wrapper {
    display: flex;
    justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin: 30px 0 10px;
    width: 80%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    width: 100%;
    height: 188px;
    overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-tab {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.dropdown-tab:hover {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.5s ease;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show { display: block; }

.request-clear-button-container {
    padding: 0 2vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.request-button {
    background-color: var(--green-500);
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.request-button:hover {
    background-color: var(--green-600);
    transition: background-color 0.5s ease;
}

.clear-button {
    background-color: var(--red-500);
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: var(--red-600);
    transition: background-color 0.5s ease;
}

.request-session-terms {
    padding: 0 2vw;
    margin-bottom: 20px;
}

/* Any input boxes will have this */
[class$="-wrapper"] input[type="text"], 
[class$="-wrapper"] input[type="date"], 
[class$="-wrapper"] input[type="time"] {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.term-header {
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.request-session-terms p a {
    text-decoration: none;
    color: #4daf23;
}

.request-session-terms p a:hover {
    text-decoration: underline;
    color: #7ed957;
}
/* Responsiveness */
/* Responsiveness */
/* Responsiveness */
@media only screen and (max-width: 800px) {
    .overall-session-page {
        display: flex;
        flex-direction: column;
        margin: 5vh 5vw;
        height: fit-content;
    }

    .session-interaction {
        width: 100%;
        margin: 0;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    .request-sessions {
        width: 100%;
        margin: 0;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}