*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* Signup Page CSS */
/* Signup Page CSS */
/* Signup Page CSS */

#signup-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper
{
    width: 420px;
    background: #f6f6f6;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
    color: #7ed957;
}

.wrapper .signup {
    width: 100%;
    height: 45px;
    background-color: #7ed957;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 15px 0px;
} 

.wrapper .signup:hover
{
    background-color: #a1db89;
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0px 5px;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.extra-information {
    font-size: 14.5px;
    margin: 15px 0px;
}

.extra-information p {
    margin: 20px 0px -10px;
}

.extra-information label input {
    accent-color: green;
    margin-right: 3px;
}

.extra-information a {
    text-decoration: none;
    color: #4daf23;
}

.extra-information a:hover {
    text-decoration: underline;
    color: #7ed957;
}

.login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0px 5px;
}

.login-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

.requirements ul {
    list-style-type: none;
}

.requirements ul li {
    display: flex;
    margin: 10px 0px;
}

.fa-xmark {
    color: red;
}

.fa-check {
    color: green;
}