{% extends 'layout.html' %}

{% block extra_head %}
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/about_us.css') }}">
{% endblock %}

{% block content %}
    <!-- The biography of the website, how it came to be, and what it has -->
    <div id="about-us-page">    
        <!-- Introduction -->
        <div class="preview-to-website">
            <div class="preview-title">About Us</div>
            <div class="preview-description">
                Learn more about our mission and goals here at SkillSwap!
            </div>
        </div>
        <!-- Main Content Container -->
        <div id="about-us-skills-wrapper">
            <!-- Main Content -->
            <div id="about-us-intro">
                <!-- About The Website -->
                <div class="about-us-section">
                    SkillSwap: Student Talent Exchange Platform is a project developed by four programmers wanting to make an app for tutors and those in need of tutoring.
                    SkillSwap provides that service through our messaging system and the ability to schedule tutoring/studying sessions with other users.
                    However, those proficient in querying a database such as ours will find they can still surf through our search interface for the perfect tutor rather than use the generally accepted mobile format we have given access to.
                    Skillswap also has the ability to work on whatever device you wish, whether that is a personal computer, laptop, phone, or tablet, it can be ran through the web on any of them.
                </div>
                <!-- About The Developers -->
                <div class="about-us-section">
                    But, that's enough about the website, there is still more to learn about us, the developers.
                    The developers of SkillSwap are all highschool students who started this website for a school project that also served as a submittable piece in a web application concert.
                    All of them had their own strengths, and were given tasks based off of them. Half worked on the front end of the site that is currently being browsed.
                    Meanwhile, one of them acted as the core back-end designer, giving users the ability to sign up, log in, schedule sessions, and message one another, with the use of a database that stores the information that allows for users to perform the former tasks.
                    The last member took to preparing what would be shown in the contest this website was submitted for, while also filling in where needed through the development process.
                    This website features many different types of skills that users can teach or be taught through messages and sessions, with the options for users to suggest new skills to be added for users to teach or learn.
                </div>
            </div>
            <!-- Header -->
            <h1 id="about-us-skills-wrapper-title">Skills In The Website</h1>
            <div class="list-grid">
                <!-- Math -->
                <div id="mathematics-list" class="subject-list">
                    <h2>Mathematics:</h2>
                    <ul>
                        <li>Algebra</li>
                        <li>Statistics</li>
                        <li>Geometry</li>
                        <li>Pre-Calculus</li>
                        <li>Calculus</li>
                    </ul> 
                </div>
                <!-- Science -->
                <div id="science-list" class="subject-list">
                    <h2>Science:</h2>
                    <ul>
                        <li>Biology</li>
                        <li>Chemistry</li>
                        <li>Anatomy & Physiology</li>
                        <li>Physics</li>
                        <li>Astronomy</li>
                        <li>Nutrition</li>
                    </ul>
                </div>
                <!-- Social Studies -->
                <div id="social-studies-list" class="subject-list">
                    <h2>Social Studies:</h2>
                    <ul>
                        <li>History</li>
                        <li>Economics</li>
                        <li>Government</li>
                        <li>Geography</li>
                    </ul>
                </div>
                <!-- Language Arts -->
                <div id="language-arts-list" class="subject-list">
                    <h2>Language Arts:</h2>
                    <ul>
                        <li>English</li>
                        <li>Spanish</li>
                        <li>French</li>
                    </ul>
                </div>
                <!-- Business -->
                <div id="business-list" class="subject-list">
                    <h2>Business:</h2>        
                    <ul>
                        <li>Accounting</li>
                        <li>Banking & Finance</li>
                        <li>Entrepreneurship</li>
                        <li>Marketing</li>
                        <li>Real Estate</li>
                    </ul>
                </div>
                <!-- Life Skills -->
                <div id="life-skills-list" class="subject-list">
                    <h2>Life Skills:</h2>
                    <ul>
                        <li>Cars</li>
                        <li>College Admissions</li>
                        <li>Job Applications</li>
                        <li>Social Media</li>
                        <li>Physical Art</li>
                        <li>Visual Art</li>
                        <li>Music</li>
                    </ul>
                </div>
                <!-- Computers -->
                <div id="computers-and-it-list" class="subject-list">
                    <h2>Computers & Information Technology:</h2>
                    <ul>
                        <li>Microsoft Applications</li>
                        <li>Networking</li>
                        <li>Cybersecurity</li>
                    </ul>
                </div>
                <!-- Programming Languages -->
                <div id="programming-languages-list" class="subject-list">
                    <h2>Programming Languages:</h2>
                    <ul>
                        <li>Python</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>C#</li>
                        <li>Internet Scripting (HTML, CSS, JS)</li>
                        <li>SQL</li>
                    </ul>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}