{% extends 'layout.html' %}

{% block extra_head %}
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/about_us.css') }}">
{% endblock %}


{% block content %}
    <!-- The biography of the website, how it came to be, and what it has -->
    <h3>
        SkillSwap: Student Talent Exchange Platform is a project developed by four programmers wanting to make an app for tutors and those in need of tutoring.
        SkillSwap provides that service through our messaging system and the ability to schedule tutoring/studying sessions with other users.
        We strived for easy user access with the use of a 'swipe-left-swipe-right' tutor search for those not interested in long tables of information. 
        However, those proficient in querying a database such as ours will find they can still surf through our search interface for the perfect tutor rather than use the generally accepted mobile format we have given access to.
        SkillSwap also has the ability to work on whatever device you wish, whether that is a personal computer, laptop, phone, or tablet, it can be ran through the web on any of them.
        But, that's enough about the website, there is still more to learn about us, the developers.
        The developers of SkillSwap are all high school students who started this website for a school project that also served as a submittable piece in a web application concert.
        All of them had their own strengths, and were given tasks based off of them. Half worked on the front end of the site that is currently being browsed.
        Meanwhile, one of them acted as the core back-end designer, giving users the ability to sign up, log in, schedule sessions, and message one another, with the use of a database that stores the information that allows for users to perform the former tasks.
        The last member took to preparing what would be shown in the contest this website was submitted for, while also filling in where needed through the development process.
        This website features many different types of skills that users can teach or be taught through messages and sessions, with the options for users to suggest new skills to be added for users to teach or learn.
    </h3>
    <br>
    <h3>Skills</h3>
    <ul>
        <li>
           Mathematics:
            <ul>
                <li>Algebra</li>
                <li>Statistics</li>
                <li>Geometry</li>
                <li>Pre-Calculus</li>
                <li>Calculus</li>
            </ul> 
        </li>
        <li>
            Science:
            <ul>
                <li>Biology</li>
                <li>Chemistry</li>
                <li>Anatomy & Physiology</li>
                <li>Physics</li>
                <li>Astronomy</li>
                <li>Nutrition</li>
            </ul>
        </li>
        <li>
            Social Studies:
            <ul>
                <li>History</li>
                <li>Economics</li>
                <li>Government</li>
            </ul>
        </li>
        <li>
            Language Arts:
            <ul>
                <li>English</li>
                <li>Spanish</li>
                <li>French</li>
            </ul>
        </li>
        <li>
            Business:        
            <ul>
                <li>Accounting</li>
                <li>Banking & Finance</li>
                <li>Entrepreneurship</li>
                <li>Marketing</li>
                <li>Real Estate</li>
            </ul>
        </li>
        <li>
            Life Skills:
            <ul>
                <li>Cars</li>
                <li>College Admissions</li>
                <li>Job Applications</li>
                <li>Social Media</li>
                <li>Physical Art</li>
                <li>Visual Art</li>
                <li>Music</li>
            </ul>
        </li>
        <li>
            Computers & Information Technology:
            <ul>
                <li>Microsoft Applications</li>
                <li>Networking</li>
                <li>Cybersecurity</li>
            </ul>
        </li>
        <li>
            Programming Languages:
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>C#</li>
                <li>Internet Scripting (HTML, CSS, JS)</li>
                <li>SQL</li>
            </ul>
        </li>
    </ul>
{% endblock %}