{% extends 'layout.html' %}

{% block extra_head %}
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path = 'css/admin.css') }}">
{% endblock %}

{% block content %}
    <div id="admin-page">
    <div class="row">
        <div class="column">
            <h1>Get</h1>

            <form id="getAllUsers">
                <h3 class="get">Get all users</h3>
                <button id="allUsersButton" class="get-button" type="submit">Get</button>
                <ul id="allUsers"></ul>
            </form>

            <form id="getUserByID">
                <h3 class="get">Get user by id</h3>
                <label for="getUserID">User ID</label>
                <input type="text" name="getUserID" id="getUserID">
                <br>
                <button id="userByIDButton" class="get-button" type="submit">Get</button>
            </form>
            <ul id="userByID"></ul>

            <form id="getAllSkills">
                <h3 class="get">Get all skills</h3>
                <button id="allSkillsButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="allSkills"></ul>

            <form id="getSkillByID">
                <h3 class="get">Get skill by id</h3>
                <label for="getSkillID">Skill ID</label>
                <input type="text" name="getSkillID" id="getSkillID">
                <br>
                <button id="skillByIDButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="skillByID"></ul>

            <form id="getAllMessages">
                <h3 class="get">Get all messages</h3>
                <button id="allMessagesButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="allMessages"></ul>

            <form id="getMessageByID">
                <h3 class="get">Get message by id</h3>
                <label for="getMessageID">Message ID</label>
                <input type="text" name="getMessageID" id="getMessageID">
                <br>
                <button id="messageByIDButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="messageByID"></ul>

            <form id="getAllSessions">
                <h3 class="get">Get all sessions</h3>
                <button id="allSessionsButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="allSessions"></ul>

            <form id="getSessionByID">
                <h3 class="get">Get session by id</h3>
                <label for="getSessionID">Session ID</label>
                <input type="text" name="getSessionID" id="getSessionID">
                <br>
                <button id="sessionByIDButton" class="get-button" type="button">Get</button>
            </form>
            <ul id="sessionByID"></ul>

        </div>
        <div class="column">
            <h1>Put</h1>

            <form id="updateUserByID">
                <h3 class="put">Update user by id</h3>
                <label for="updateUserID">User ID</label>
                <input type="text" name="updateUserID" id="updateUserID">
                <h4>Info to Update</h4>
                <ul>
                    <li>
                        <label for="updateUserUsername">Username</label>
                        <input type="text" name="username" id="updateUserUsername">
                    </li>
                    <li>
                        <label for="updateUserDisplayName">Display Name</label>
                        <input type="text" name="updateUserDisplayName" id="updateUserDisplayName">
                    </li>
                    <li>
                        <label for="updateUserPronouns">Pronouns</label>
                        <input type="text" name="updateUserPronouns" id="updateUserPronouns">
                    </li>
                    <li>
                        <label for="updateUserGender">Gender</label>
                        <input type="text" name="updateUserGender" id="updateUserGender">
                    </li>
                    <li>
                        <label for="updateUserProfileURL">Profile Picture</label>
                        <input type="text" name="updateUserProfileURL" id="updateUserProfileURL">
                    </li>
                    <li>
                        <label for="updateUserBiography">Biography</label>
                        <input type="text" name="updateUserBiography" id="updateUserBiography">
                    </li>
                    <li>
                        <label for="updateUserRating">Rating</label>
                        <select name="updateUserRating" id="updateUserRating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </li>
                    <li>
                        <label for="updateUserEmail">Email</label>
                        <input type="text" name="updateUserEmail" id="updateUserEmail">
                    </li>
                    <li>
                        <label for="updateUserPassword">Password</label>
                        <input type="text" name="updateUserPassword" id="updateUserPassword">
                    </li>
                    <li>
                        <label for="updateUserRole">Role</label>
                        <select name="updateUserRole" id="updateUserRole">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </li>
                    <li>
                        <label for="updateUserIsActive">Is Active</label>
                        <select name="updateUserIsActive" id="updateUserIsActive">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </li>

                </ul>
                <br>
                <button class="put-button" type="submit">Put</button>
            </form>

            <form id="updateSkillByID">
                <h3 class="put">Update skill by id</h3>
                <label for="updateSkillID">Skill ID</label>
                <input type="text" name="updateSkillID" id="updateSkillID">
                <h4>Info to Update</h4>
                <ul>
                    <li>
                        <label for="updateSkillSuperCategory">Supercategory</label>
                        <input type="text" name="updateSkillSuperCategory" id="updateSkillSuperCategory">
                    </li>
                    <li>
                        <label for="updateSkillSubCategory">Subcategory</label>
                        <input type="text" name="updateSkillSubCategory" id="updateSkillSubCategory">
                    </li>
                </ul>
                <br>
                <button class="put-button" type="submit">Put</button>
            </form>

            <form id="updateSessionByID">
                <h3 class="put">Update session by id</h3>
                <label for="updateSessionID">Session ID</label>
                <input type="text" name="updateSessionID" id="updateSessionID">
                <h4>Info to Update</h4>
                <ul>
                    <li>
                        <label for="updateSessionDate">Session Date</label>
                        <input type="text" name="updateSessionDate" id="updateSessionDate">
                    </li>
                </ul>
                <br>
                <button class="put-button" type="submit">Put</button>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <h1>Post</h1>

            <form id="createSkill">
                <h3 class="post">Create skill</h3>
                <h4>Info for Creation</h4>
                <ul>
                    <li>
                        <label for="createSuperCategory">Supercategory</label>
                        <input type="text" name="createSuperCategory" id="createSuperCategory">
                    </li>
                    <li>
                        <label for="createSubCategory">Subcategory</label>
                        <input type="text" name="createSubCategory" id="createSubCategory">
                    </li>
                </ul>
                <br>
                <button class="post-button" type="submit">Post</button>
            </form>

        </div>
        <div class="column">
            <h1>Delete</h1>

            <form id="deleteUserByID">
                <h3 class="delete">Delete user by id</h3>
                <label for="deleteUserID">User ID</label>
                <input type="text" name="deleteUserID" id="deleteUserID">
                <br>
                <button class="delete-button" type="submit">Delete</button>
            </form>

            <form id="deleteSkillByID">
                <h3 class="delete">Delete skill by id</h3>
                <label for="deleteSkillID">Skill ID</label>
                <input type="text" name="deleteSkillID" id="deleteSkillID">
                <br>
                <button class="delete-button" type="submit">Delete</button>
            </form>

            <form id="deleteMessageByID">
                <h3 class="delete">Delete message by id</h3>
                <label for="deleteMessageID">Message ID</label>
                <input type="text" name="deleteMessageID" id="deleteMessageID">
                <br>
                <button class="delete-button" type="submit">Delete</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', path = '/js/admin.js') }}"></script>
{%endblock%}