{% extends 'layout.html' %}

{% block extra_head %}
    <title>Credits</title>
{% endblock %}

{% block content %}
    <!-- Introduction -->
    <div class="preview-to-website">
        <div class="preview-title">Credits</div>
        <div class="preview-description">
            This page shows credits to every source we've used to make this website possible, including our works cited!
        </div>
    </div>
    <!-- Normal Credits -->
    <div class="normal-credits">
        <h2>Special Thanks To...</h2>
        <p>
            Business Professionals of America (BPA).
            <br> <br>
            Computer Programming Instructor Matthew Geiger for teaching the developer team on how to build an API, database, web application, and several programming languages!
            <br> <br>
            All sources used in works cited to make this possible!
        </p>
        <!-- Developer Cards Here -->
        <h2>The Developer Team</h2>
        <div class="developers">
            <div class="person">
                <h3>Jason Lincoln</h3>
                <p>
                    Head of Website Design (HTML & CSS)
                </p>
            </div>
            <div class="person">
                <h3>Mason Phonephomhom</h3>
                <p>
                    Head of JavaScript <br> <br>
                    Assistant of Website Design (HTML & CSS)
                </p>
            </div>
            <div class="person">
                <h3>Nathaniel Ferguson</h3>
                <p>
                    Head of Web Applications (API & Database)
                </p>
            </div>
            <div class="person">
                <h3>Xander Berger</h3>
                <p>
                    Head of Documentation and Presentation <br> <br>
                    Assistant of Web Applications (API & Database)
                </p>
            </div>
        </div>
    </div>
    <!-- Works Cited-->
    <div class="works-cited-container">
        <h2 class="works-cited-title">Works Cited</h2>
        <div class="works-cited-content">
            <p>ALB Dev. “Card Hover Text Reveal Animation with HTML and CSS.” <i>YouTube</i>, 22 June 2022, www.youtube.com/watch?v=s9trcJB0qBE.</p>
            <p>“Canva.” <i>Canva</i>, 2025, canva.com. Accessed 9 Jan. 2026.</p>
            <p>Codehal. “Login Form in HTML & CSS.” <i>YouTube</i>, 18 June 2023, www.youtube.com/watch?v=hlwlM4a5rxg.</p>
            <p>CodingBug. “Multiple Select Dropdown with Checkbox Using HTML CSS and JavaScript.” <i>YouTube</i>, 2 Mar. 2024, www.youtube.com/watch?v=Jekshc4_bnI.</p>
            <p>Coursera. “Coursera | Online Courses & Credentials by Top Educators. Join for Free.” <i>Coursera</i>, 2018, www.coursera.org. Accessed 9 Jan. 2026.</p>
            <p>CSS Weekly. “CSS Navbar: Create a Beautiful Navigation Bar from Scratch.” <i>YouTube</i>, 27 Mar. 2023, www.youtube.com/watch?v=abzMSYsnXV4.</p>
            <p>FollowAndrew. “Dropdown Menu Tutorial | Responsive HTML & CSS (No Javascript).” <i>YouTube</i>, 29 July 2019, www.youtube.com/watch?v=7aGLkT4y4ls.</p>
            <p>“Font Awesome.” <i>Fontawesome.com</i>, fontawesome.com. Accessed 9 Jan. 2026.</p>
            <p>“How to Create Advanced CSS Dropdown Menus.” <i>YouTube</i>, 18 Sept 2021, www.youtube.com/watch?v=S-VeYcOCFZw.</p>
            <p>Jovancic, Nemanja. “FAQ Template: The Hidden Benefits of a Frequently Asked Questions Page.” <i>LeadQuizzes</i>, 19 July 2020, www.leadquizzes.com/blog/faq-template/.</p>
            <p>Mr. Web Designer. “Simple Responsive Dropdown Navigation Menu Using Pure HTML and CSS Only.” <i>YouTube</i>, 5 June 2021, www.youtube.com/watch?v=bk3Y4heVdFs.</p>
            <p>“Northwest State Community College.” <i>Northweststate.edu</i>, www.northweststate.edu. Accessed 9 Jan. 2026.</p>
            <p>“Remix Icon - Open Source Icon Library.” <i>Remixicon.com</i>, www.remixicon.com. Accessed 9 Jan. 2026.</p>
            <p>Std, Fajar. “Responsive Chat Website - HTML CSS Javascript.” <i>YouTube</i>, 12 June 2023, www.youtube.com/watch?v=YE6TgZnMOuA&t=25s.</p>
            <p>W3Schools. “W3Schools Online Web Tutorials.” <i>W3schools.com</i>, 2019, w3schools.com. Accessed 9 Jan. 2026.</p>
            <p>Web Dev Simplified. “Learn HTML Forms in 25 Minutes.” <i>YouTube</i>, 8 June 2019, www.youtube.com/watch?v=fNcJuPIZ2WE.</p>
        </div>
    </div>
{% endblock %}
