{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      Let's edit your album!
    </div>
    <div class="card-body">
      <form id="editAlbumForm">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="title" value="{{album.title}}" required>
        </div>
        <div class="form-group">
          <label>Artist</label>
          <input type="text" class="form-control" name="artist" value="{{album.artist}}" required>
        </div>
        <div class="form-group">
          <label>Category</label>
          <input type="text" class="form-control" name="category" value="{{album.category}}" required>
        </div>
        <div class="form-group">
          <label>Priority</label>
          <select name="rating" class="form-control">
            <option {% if album.rating == 5 %} selected="selected" {% endif %}>5</option>
            <option {% if album.rating == 4 %} selected="selected" {% endif %}>4</option>
            <option {% if album.rating == 3 %} selected="selected" {% endif %}>3</option>
            <option {% if album.rating == 2 %} selected="selected" {% endif %}>2</option>
            <option {% if album.rating == 1 %} selected="selected" {% endif %}>1</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Edit your album</button>
        <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
        <a href="/albums/albums-page" class="btn btn-success">Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}