{% extends 'layout.html' %}

{% block extra_head %}
    <title>Home Page</title>
    <!-- External Websites CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <!-- Page CSS -->
    <link rel="stylesheet" type = 'text/css' href="{{ url_for('static', path = 'css/index.css') }}">
{% endblock %}

{% block content %}
    <!-- Carousel -->
    <div class="page-wrapper">
        <div class="post-slider">
            <i class="fa-solid fa-chevron-left prev"></i>
            <i class="fa-solid fa-chevron-right next"></i>

            <div class="post-wrapper">
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder One</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder2.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder Two</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder3.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder Three</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder One</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder2.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder Two</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
                <div class="post">
                    <img src="{{ url_for('static', path = 'images/index_images/Placeholder3.png') }}" alt="" class="slider-image">
                    <div class="post-info">
                        <h3><a href="#">Placeholder Three</a></h3>
                        <p>Placeholder Description</p>
                    </div>
                </div> <!-- end post -->
            </div> <!-- end post wrapper -->
        </div> <!-- end post slider -->
    </div> <!-- end page wrapper -->

    <h1 class="skillswap-title">How does SkillSwap Work?</h1>
    <!-- About Section -->
    <div class="about-skillswap">
        <div class="image1">
            <img src="{{ url_for('static', path = 'images/index_images/learnFromOthers.png') }}" alt="" class="about-ss-image">
        </div>
        <div class="header1">
            <h2>Learn from other students!</h2>
        </div>
        <div class="desc1">
            <p>Learn about skills through courses other students have made!</p>
        </div>

        <div class="image2">
            <img src="{{ url_for('static', path = 'images/index_images/progressQuickly.png') }}" alt="" class="about-ss-image">
        </div>
        <div class="header2">
            <h2>Track your progress!</h2>
        </div>
        <div class="desc2">
            <p>SkillSwap tracks your progress right where you left off!</p>
        </div>

        <div class="image3">
            <img src="{{ url_for('static', path = 'images/index_images/teachOthers.png') }}" alt="" class="about-ss-image">
        </div>
        <div class="header3">
            <h2>Teach others your skills!</h2>
        </div>
        <div class="desc3">
            <p>Teach other students your skills with an easy way of creating a course for others to learn!</p>
        </div>
    </div> <!-- end about section -->
    <!-- Skill Category Cards & Grid -->
    <div class="skill-categories">
        <div id="programming-languages" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/comp_prog_lang.png') }}" alt="">
            <h3 id="prog-lang-header">Programming Languages</h3>
            <ul id="hidden-prog-lang">
                <li>Java</li>
                <li>Python</li>
                <li>C#</li>
                <li>C++</li>
                <li>SQL</li>
            </ul>
        </div>
        <div id="computers" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/computers.png') }}" alt="">
            <h3 id="computers-header">Computers & Information Technology</h3>
            <ul id="hidden-computers">
                <li>Microsoft Word</li>
                <li>Microsoft Excel</li>
                <li>Microsoft Powerpoint</li>
                <li>Networking</li>
                <li>Cybersecurity</li>
            </ul>
        </div>
        <div id="math" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/mathematics.png') }}" alt="">
            <h3 id="math-header">Mathematics</h3>
            <ul id="hidden-math">
                <li>Algebra</li>
                <li>Statistics</li>
                <li>Geometry</li>
                <li>Pre-Calculus</li>
                <li>Calculus</li>
            </ul>
        </div>
        <div id="science" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/science.png') }}" alt="">
            <h3 id="science-header">Science</h3>
            <ul id="hidden-science">
                <li>Chemistry</li>
                <li>Physics</li>
                <li>Biology</li>
                <li>Anatomy & Physiology</li>
                <li>Earth Science</li>
                <li>Geology</li>
                <li>Nutrition</li>               
            </ul>
        </div>
        <div id="social-studies" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/social-studies.png') }}" alt="">
            <h3 id="social-studies-header">Social Studies</h3>
            <ul id="hidden-social-studies">
                <li>History</li>
                <li>Economics</li>
                <li>Government</li>
                <li>Geography</li>
            </ul>
        </div>
        <div id="business" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/business.png') }}" alt="">
            <h3 id="business-header">Business</h3>
            <ul id="hidden-business">
                <li>Accounting</li>
                <li>Banking & Finance</li>
                <li>Entrepreneurship</li>
                <li>Marketing</li>
                <li>Real Estate</li>
            </ul>
        </div>
        <div id="life-skills" class="card">
            <img src="../static/images/index_images/life-skills.png" alt="">
            <h3 id="life-skills-header">Life Skills</h3>
            <ul id="hidden-life-skills">
                <li>Cars</li>
                <li>College Admissions</li>
                <li>Job Applications</li>
                <li>Social Media</li>
                <li>Physical Arts</li>
                <li>Visual Arts</li>
                <li>Music</li>
            </ul>
        </div>
        <div id="languages" class="card">
            <img src="{{ url_for('static', path = 'images/index_images/languages.png') }}" alt="">
            <h3 id="lang-header">Language Arts</h3>
            <ul id="hidden-lang">
                <li>English</li>
                <li>Spanish</li>
                <li>French</li>
            </ul>
        </div>
    </div> <!-- end of skills cards-->
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{ url_for('static', path = 'js/index.js') }}"></script>
{% endblock %}