<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block extra_head %} {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
        <!-- <link rel="stylesheet" href="../static/css/footer.css"> -->

    </head>
    <body class = "body">
        <header>
            <a href="/pages/index" class="logo"><img src="{{ url_for('static', path='/images/SkillSwap.png') }}" alt=""></a>
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>
            {% include 'navbar.html' %}
        </header>

        {% block content %}

        {% endblock %}

        {% include 'footer.html' %}

        {% block extra_js %} {% endblock %}

        <script src="{{ url_for('static', path = '/js/jquery-slim.js') }}"></script>
        <script src="{{ url_for('static', path='/js/footer.js') }}"></script>
        <script src="{{ url_for('static', path = '/js/popper.js') }}"></script>
        <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', path = '/js/base.js') }}" defer></script>

    </body>
</html>