{% extends 'layout.html' %}

{% block extra_head %}
    <link rel="stylesheet" type = 'text/css' href="{{ url_for('static', path = 'css/login.css') }}">
{% endblock %}

{% block content %}

<div class="wrapper">
    <h1>Login to SkillSwap</h1>
        <form method="get" id="loginForm">

            <div class="input-box">
                <input type="text" placeholder="Username" name = 'username' autocomplete = 'current-password' id="username" required>
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" name = 'password' autocomplete = 'current-password' id="password" required>
                <i class="fa-solid fa-lock"></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Remember Me </label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="login">Login</button>
        </form>
    <div class="register-link">
        <p>
            Don't have an account? <a href="/auth/register-page">Register</a>
        </p>
    </div>

</div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', path = 'js/signup_login.js') }}"></script>
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
{% endblock %}