 <nav class="navbar">
    <ul>
        <li>
            <a href="#">Explore <i class="fa-solid fa-chevron-down fa-2xs"></i> </a>
            <ul>
                <li><a href="#">Programming Languages</a></li>
                <li><a href="#">Computers and Information Technology</a></li>
                <li><a href="#">Mathematics</a></li>
                <li><a href="#">Science</a></li>
                <li><a href="#">Social Studies</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Life Skills</a></li>
                <li><a href="#">Language Arts</a></li>
            </ul>
        </li>
        <li><a href="about_us.html">About</a></li>
        <li><a href="sessions.html">Sessions</a></li>
        <li>
            <a href="#"><img src="../static/images/profileicon.png" alt=""></a>
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#">Signout</a></li>
            </ul>
        </li>
    </ul>
</nav>