 <nav class="navbar">
    <ul>
        <li><a href="/pages/explore">Explore</a></li>
        <li><a href="/pages/about-us">About</a></li>
        <li><a href="sessions.html">Sessions</a></li>
        <li>
            <a href="/pages/profile/{{user.id}}"><img src="{{ url_for('static', path='/images/profileicon.png') }}" alt=""></a>
            <ul>
                <li><a href="/pages/profile/{{user.id}}">Profile</a></li>
                <li><a href="/pages/messages">Messages</a></li>
                <li><a href="/pages/login">Signout</a></li>
            </ul>
        </li>
    </ul>
</nav>