<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/profile_creation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/tailwindcss-colors.css') }}">
    <title>Profile Creation Page</title>
</head>
<body>
    <!-- All Content Inside The Central Box -->
    <div class="profile-creation-page">
        <!-- Tabs -->
        <div class="button-containers">
            <button class="tab-buttons active-tab" onclick="tabFunctions('profile-tab', event)">Profile Settings</button>
            <button class="tab-buttons" onclick="tabFunctions('card-tab', event)">Card Settings</button>
            <button class="tab-buttons" onclick="tabFunctions('skills-tab', event)">Skills Settings</button>
        </div>
        <!-- Page Contents of the tabs -->
        <div class="tab-content-collection">
            <!-- Profile Tab -->
            <div id="profile-tab" class="creation-tabs">
                <!-- Top: Section for Inputs -->
                <div class="inputs">
                    <!-- Input Section -->
                    <div class="creation-page-inputs">
                        <div class="header-title">Profile Settings</div>
                        <!-- Email -->
                        <div class="email-wrapper">
                            <label for="email">Email Address</label>
                            <input type="email" class="email" name="email" value="email@gmail.com" readonly>
                        </div>
                        <!-- Username -->
                        <div class="username-wrapper">
                            <label for="username">Username</label>
                            <input type="text" class="username" name="username" value="Username" readonly>
                        </div>
                        <!-- Display Name -->
                        <div class="display-name-wrapper">
                            <label for="display-name"> Display Name </label>
                            <input type="text" class="display-name" name="display-name" value="" placeholder="Enter Your Display Name" maxlength="18">
                        </div>
                        <!-- Pronouns -->
                        <div class="pronouns-wrapper">
                            <label for="pronouns">Pronouns</label>
                            <input type="text" class="pronouns" name="pronouns" placeholder="Enter your pronouns">
                        </div>
                        <!-- Biography -->
                        <div class="bio-wrapper">
                            <label for="bio">About Me</label>
                            <div class="textarea-container">
                                <textarea class="about-me-textarea" name="c-desc" class="c-desc" placeholder="Enter Description Here" maxlength="150"></textarea>
                                <div class="characters-left">150</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bottom: Save Button -->
                <div class="save-changes-wrapper">
                    <button type="button" class="save-changes-btn">Save Changes</button>
                </div>
            </div>
            <!-- Card Tab -->
            <div id="card-tab" class="creation-tabs" style="display: none">
                <div class="header-title">Card Settings</div>
                <!-- Top: Container For Radioboxes And Card -->
                <div class="radioboxes-and-card">
                    <!-- Left: Radioboxes -->
                    <form class="select-category">
                        <div class="radio-text">
                            <h3 class="radio-header">What field do you best excel at?</h3>
                            <p class="radio-description">
                                Selecting a field helps to identify what subjects you are best at, or the field in which you need help in.
                                If the field your subject lies in doesn't fit any of these categories, it is best to choose Life Skills.
                                A carousel of images will appear when you select a field, and you can choose a profile image you like.
                                Be aware that these images are from the website's collection, as we do not permit users to upload images. 
                            </p>
                        </div>
                        <div class="radio-group-grid">
                            <label><input type="radio" name="which_category" value="prog_lang" class="prog_lang"> Programming</label>
                            <label><input type="radio" name="which_category" value="computers" class="computers"> Computers & I.T.</label>
                            <label><input type="radio" name="which_category" value="math" class="math"> Mathematics</label>
                            <label><input type="radio" name="which_category" value="science" class="science"> Science</label>
                            <label><input type="radio" name="which_category" value="social_studies" class="social_studies"> Social Studies</label>
                            <label><input type="radio" name="which_category" value="business" class="business"> Business</label>
                            <label><input type="radio" name="which_category" value="life_skills" class="life_skills"> Life Skills</label>
                            <label><input type="radio" name="which_category" value="languages" class="languages"> Language Arts</label>
                        </div>
                    </form>

                    <!-- Right: Card Template -->
                    <div id="edit-skills-section">
                        <div class="card-container">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{ url_for('static', path='/images/placeholder.png') }}" alt="" class="selected-image">
                                </div>
                                
                                <div class="card-content">
                                    <div class="creator">
                                        <i class="fa-solid fa-user"></i>
                                        <h3>Profile User</h3>
                                    </div>
                                    <div class="card-desc">
                                        <p>This is a user card description. If the user exceeds a certain amount of characters, the text must be cut off.</p>
                                    </div>
                                    <div class="card-tags">
                                        <p>Tags (Will change with JS)</p>
                                    </div>
                                    <div class="rating">
                                        <i class="fa-solid fa-star"></i>
                                        <p>Rating (xxx Reviews)</p>
                                    </div>
                                </div> <!-- End Content -->
                            </div> <!-- End Card -->
                        </div> <!-- End Wrapper -->
                    </div>
                </div>

                <!-- Bottom: Image Collection (Appears After Radio Selection) -->
                <div class="carousel-container">
                    <div class="image-collection" style="visibility: hidden;">    
                        <div class="post-slider">
                            <i class="fa-solid fa-chevron-left prev"></i>
                            <i class="fa-solid fa-chevron-right next"></i>

                            <div class="post-wrapper">
                                
                            </div> <!-- radio generates the image gallery here -->
                        </div> <!-- end post slider -->        
                    </div> <!-- end image collection -->
                </div>

            </div>
            <!-- Skills Tab -->
            <div id="skills-tab" class="creation-tabs" style="display: none">
                <div class="header-title">Skills Settings</div>

                <div class="skills-sidebox" aria-hidden="false">
                    <div class="skills-sidebox-header">
                        <div class="skills-toggle">
                            <button id="toggle-have" class="toggle-btn active">Skills I Have</button>
                            <button id="toggle-need" class="toggle-btn">Skills To Learn</button>
                        </div>
                    </div>

                    <div class="skills-panels">
                        <div class="skills-panel have active" id="panel-have">
                            <div class="information-grid">
                                <div>
                                    <div class="dropdown-header">Programming Languages</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Python</a>
                                        <a href="#" class="link">Java</a>
                                        <a href="#" class="link">C++</a>
                                        <a href="#" class="link">C#</a>
                                        <a href="#" class="link">HTML</a>
                                        <a href="#" class="link">CSS</a>
                                        <a href="#" class="link">Javascript</a>
                                        <a href="#" class="link">SQL</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Computers & Information Technology</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Microsoft Word</a>
                                        <a href="#" class="link">Microsoft Excel</a>
                                        <a href="#" class="link">Microsoft Powerpoint</a>
                                        <a href="#" class="link">Networking</a>
                                        <a href="#" class="link">Cybersecurity</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Mathematics</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Algebra</a>
                                        <a href="#" class="link">Statistics</a>
                                        <a href="#" class="link">Geometry</a>
                                        <a href="#" class="link">Pre-Calculus</a>
                                        <a href="#" class="link">Calculus</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Science</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Biology</a>
                                        <a href="#" class="link">Chemistry</a>
                                        <a href="#" class="link">Anatomy & Physiology</a>
                                        <a href="#" class="link">Physics</a>
                                        <a href="#" class="link">Astrology</a>
                                        <a href="#" class="link">Nutrition</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Social Studies</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">History</a>
                                        <a href="#" class="link">Economics</a>
                                        <a href="#" class="link">Government</a>
                                        <a href="#" class="link">Geography</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Business</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Accounting</a>
                                        <a href="#" class="link">Banking & Finance</a>
                                        <a href="#" class="link">Entrepreneurship</a>
                                        <a href="#" class="link">Marketing</a>
                                        <a href="#" class="link">Real Estate</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Life Skills</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Cars</a>
                                        <a href="#" class="link">College Admissions</a>
                                        <a href="#" class="link">Job Applications</a>
                                        <a href="#" class="link">Social Media</a>
                                        <a href="#" class="link">Physical Arts</a>
                                        <a href="#" class="link">Visual Arts</a>
                                        <a href="#" class="link">Music</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Foreign Languages</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">English</a>
                                        <a href="#" class="link">Spanish</a>
                                        <a href="#" class="link">French</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="skills-panel need" id="panel-need">
                            <div class="information-grid">
                                <div>
                                    <div class="dropdown-header">Programming Languages</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Python</a>
                                        <a href="#" class="link">Java</a>
                                        <a href="#" class="link">C++</a>
                                        <a href="#" class="link">C#</a>
                                        <a href="#" class="link">HTML</a>
                                        <a href="#" class="link">CSS</a>
                                        <a href="#" class="link">Javascript</a>
                                        <a href="#" class="link">SQL</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Computers & Information Technology</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Microsoft Word</a>
                                        <a href="#" class="link">Microsoft Excel</a>
                                        <a href="#" class="link">Microsoft Powerpoint</a>
                                        <a href="#" class="link">Networking</a>
                                        <a href="#" class="link">Cybersecurity</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Mathematics</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Algebra</a>
                                        <a href="#" class="link">Statistics</a>
                                        <a href="#" class="link">Geometry</a>
                                        <a href="#" class="link">Pre-Calculus</a>
                                        <a href="#" class="link">Calculus</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Science</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Biology</a>
                                        <a href="#" class="link">Chemistry</a>
                                        <a href="#" class="link">Anatomy & Physiology</a>
                                        <a href="#" class="link">Physics</a>
                                        <a href="#" class="link">Astrology</a>
                                        <a href="#" class="link">Nutrition</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Social Studies</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">History</a>
                                        <a href="#" class="link">Economics</a>
                                        <a href="#" class="link">Government</a>
                                        <a href="#" class="link">Geography</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Business</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Accounting</a>
                                        <a href="#" class="link">Banking & Finance</a>
                                        <a href="#" class="link">Entrepreneurship</a>
                                        <a href="#" class="link">Marketing</a>
                                        <a href="#" class="link">Real Estate</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Life Skills</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">Cars</a>
                                        <a href="#" class="link">College Admissions</a>
                                        <a href="#" class="link">Job Applications</a>
                                        <a href="#" class="link">Social Media</a>
                                        <a href="#" class="link">Physical Arts</a>
                                        <a href="#" class="link">Visual Arts</a>
                                        <a href="#" class="link">Music</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="dropdown-header">Foreign Languages</div>
                                    <div class="dropdown-links">
                                        <a href="#" class="link">English</a>
                                        <a href="#" class="link">Spanish</a>
                                        <a href="#" class="link">French</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/profile_creation.js') }}"></script>
</body>
</html>