<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/Tab_Icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/profile_creation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/tailwindcss-colors.css') }}">
    <title>Profile Creation Page</title>
</head>
<body>
    <!-- All Content Inside The Central Box -->
    <div class="profile-creation-page">
        <!-- Tabs -->
        <div class="button-containers">
            <button class="tab-buttons active-tab" onclick="tabFunctions('profile-tab', event)">Profile Settings</button>
            <button class="tab-buttons" onclick="tabFunctions('card-tab', event)">Card Settings</button>
            <button class="tab-buttons" onclick="tabFunctions('skills-tab', event)">Skills Settings</button>
        </div>
        <!-- Page Contents of the tabs -->
        <div class="tab-content-collection">
            <form id = 'user_update' class = 'profile-form'>
                <!-- Profile Tab -->
                <div id="profile-tab" class="creation-tabs">
                        <!-- Top: Section for Inputs -->
                        <div class="inputs">
                            <!-- Input Section -->
                            <div class="creation-page-inputs">
                                <div class="header-title">Profile Settings</div>
                                <!-- Email -->
                                <div class="email-wrapper">
                                    <label for="email">Email Address</label>
                                    <input id = 'email' type="email" class="email" name="email" value="{{ user.email }}" readonly>
                                </div>
                                <!-- Username -->
                                <div class="username-wrapper">
                                    <label for="username">Username</label>
                                    <input id = 'username' type="text" class="username" name="username" value= '{{ user.username }}' readonly>
                                </div>
                                <!-- Display Name -->
                                <div class="display-name-wrapper">
                                    <label id = 'display-name' for="display-name"> Display Name </label>
                                    <input type="text" class="display-name" name="display_name" value="{{ user.display_name}}" placeholder="Enter Your Display Name" maxlength="18">
                                </div>
                                <!-- Pronouns -->
                                <div class="pronouns-wrapper">
                                    <label for="pronouns">Pronouns</label>
                                    <input id = 'pronouns' type="text" class="pronouns" name="pronouns" value = '{{ user.pronouns }}' placeholder="Enter your pronouns">
                                </div>
                                <!-- Biography -->
                                <div class="bio-wrapper">
                                    <label for="bio">About Me</label>
                                    <div class="textarea-container">
                                        <textarea id = 'bio' class="about-me-textarea c-desc" name="biography" placeholder="Enter Description Here" maxlength="150">{{ user.biography }}</textarea>
                                        <div class="characters-left">150</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Card Tab -->
                <div id="card-tab" class="creation-tabs" style="display: none">
                    <div class="header-title">Card Settings</div>
                    <!-- Top: Container For Radioboxes And Card -->
                    <div class="radioboxes-and-card">
                        <div class="select-category">
                            <!-- Left: Radioboxes -->
                            <div class="radio-text">
                                <h3 class="radio-header">What field do you best excel at?</h3>
                                <p class="radio-description">
                                    Selecting a field helps to identify what subjects you are best at, or the field in which you need help in.
                                    If the field your subject lies in doesn't fit any of these categories, it is best to choose Life Skills.
                                    A carousel of images will appear when you select a field, and you can choose a profile image you like.
                                    Be aware that these images are from the website's collection, as we do not permit users to upload images.
                                </p>
                            </div>
                            <div class="radio-group-grid">
                                <label><input type="radio" name="which_category" value="prog_lang" class="prog_lang"> Programming</label>
                                <label><input type="radio" name="which_category" value="computers" class="computers"> Computers & I.T.</label>
                                <label><input type="radio" name="which_category" value="math" class="math"> Mathematics</label>
                                <label><input type="radio" name="which_category" value="science" class="science"> Science</label>
                                <label><input type="radio" name="which_category" value="social_studies" class="social_studies"> Social Studies</label>
                                <label><input type="radio" name="which_category" value="business" class="business"> Business</label>
                                <label><input type="radio" name="which_category" value="life_skills" class="life_skills"> Life Skills</label>
                                <label><input type="radio" name="which_category" value="languages" class="languages"> Language Arts</label>
                            </div>
                        </div>

                        <!-- Right: Card Template -->
                        <div id="edit-skills-section">
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="{{ url_for('static', path='/images/placeholder.png') }}" alt="" class="selected-image">
                                    </div>

                                    <div class="card-content">
                                        <div class="creator">
                                            <i class="fa-solid fa-user"></i>
                                            <h3>Profile User</h3>
                                        </div>
                                        <div class="card-desc">
                                            <p>This is a user card description. If the user exceeds a certain amount of characters, the text must be cut off.</p>
                                        </div>
                                        <div class="card-tags">
                                            <p>Tags (Will change with JS)</p>
                                        </div>
                                        <div class="rating">
                                            <i class="fa-solid fa-star"></i>
                                            <p>Rating (xxx Reviews)</p>
                                        </div>
                                    </div> <!-- End Content -->
                                </div> <!-- End Card -->
                            </div> <!-- End Wrapper -->
                        </div>
                    </div>

                    <!-- Bottom: Image Collection (Appears After Radio Selection) -->
                    <div class="carousel-container">
                        <div class="image-collection" style="visibility: hidden;">
                            <div class="post-slider">
                                <i class="fa-solid fa-chevron-left prev"></i>
                                <i class="fa-solid fa-chevron-right next"></i>

                                <div class="post-wrapper">

                                </div> <!-- radio generates the image gallery here -->
                            </div> <!-- end post slider -->
                        </div> <!-- end image collection -->
                    </div>

                </div>
                <!-- Skills Tab -->
                <div id="skills-tab" class="creation-tabs" style="display: none">
                    <div class="header-title">Skills Settings</div>

                    <div class="skills-sidebox" aria-hidden="false">
                        <div class="skills-sidebox-header">
                            <div class="skills-toggle">
                                <button id="toggle-have" class="toggle-btn active">Skills I Have</button>
                                <button id="toggle-need" class="toggle-btn">Skills To Learn</button>
                            </div>
                        </div>

                        <div class="skills-panels">
                            <div class="skills-panel have active" id="panel-have">
                                <div class="information-grid">
                                    <div>
                                        <div class="dropdown-header">Programming Languages</div>
                                        <div class="dropdown-links">
                                            <label for="Python">
                                                <input type = checkbox id = 'Python' class="link" name = 'Python'> Python
                                            </label>
                                            <label for="Java">
                                                <input type = checkbox id = 'Java' class="link" name = 'Java'> Java
                                            </label>
                                            <label for="C++">
                                                <input type = checkbox id = 'C++' class="link" name = 'C++'> C++
                                            </label>
                                            <label for="CSharp">
                                                <input type = checkbox id = 'CSharp' class="link" name = 'CSharp'> CSharp
                                            </label>
                                            <label for="HTML">
                                                <input type = checkbox id = 'HTML' class="link" name = 'HTML'> HTML
                                            </label>
                                            <label for="CSS">
                                                <input type = checkbox id = 'CSS' class="link" name = 'CSS'> CSS
                                            </label>
                                            <label for="Javascript">
                                                <input type = checkbox id = 'Javascript' class="link" name = 'Javascript'> Javascript
                                            </label>
                                            <label for="SQL">
                                                <input type = checkbox id = 'SQL' class="link" name = 'SQL'> SQL
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Computers & Information Technology</div>
                                        <div class="dropdown-links">
                                            <label for="Microsoft Word">
                                                <input type = checkbox id = 'Microsoft Word' class="link" name = 'Microsoft Word'> Microsoft Word
                                            </label>
                                            <label for="Microsoft Excel">
                                                <input type = checkbox id = 'Microsoft Excel' class="link" name = 'Microsoft Excel'> Microsoft Excel
                                            </label>
                                            <label for="Microsoft Powerpoint">
                                                <input type = checkbox id = 'Microsoft Powerpoint' class="link" name = 'Microsoft Powerpoint'> Microsoft Powerpoint
                                            </label>
                                            <label for="Networking">
                                                <input type = checkbox id = 'Networking' class="link" name = 'Networking'> Networking
                                            </label>
                                            <label for="Cybersecurity">
                                                <input type = checkbox id = 'Cybersecurity' class="link" name = 'Cybersecurity'> Cybersecurity
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Mathematics</div>
                                        <div class="dropdown-links">
                                            <label for="Algebra">
                                                <input type = checkbox id = 'Algebra' class="link" name = 'Algebra'> Algebra
                                            </label>
                                            <label for="Statistics">
                                                <input type = checkbox id = 'Statistics' class="link" name = 'Statistics'> Statistics
                                            </label>
                                            <label for="Geometry">
                                                <input type = checkbox id = 'Geometry' class="link" name = 'Geometry'> Geometry
                                            </label>
                                            <label for="Pre-Calculus">
                                                <input type = checkbox id = 'Pre-Calculus' class="link" name = 'Pre-Calculus'> Pre-Calculus
                                            </label>
                                            <label for="Calculus">
                                                <input type = checkbox id = 'Calculus' class="link" name = 'Calculus'> Calculus
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Science</div>
                                        <div class="dropdown-links">
                                            <label for="Biology">
                                                <input type = checkbox id = 'Biology' class="link" name = 'Biology'> Biology
                                            </label>
                                            <label for="Chemistry">
                                                <input type = checkbox id = 'Chemistry' class="link" name = 'Chemistry'> Chemistry
                                            </label>
                                            <label for="Anatomy & Physiology">
                                                <input type = checkbox id = 'Anatomy & Physiology' class="link" name = 'Anatomy & Physiology'> Anatomy & Physiology
                                            </label>
                                            <label for="Physics">
                                                <input type = checkbox id = 'Physics' class="link" name = 'Physics'> Physics
                                            </label>
                                            <label for="Astrology">
                                                <input type = checkbox id = 'Astrology' class="link" name = 'Astrology'> Astrology
                                            </label>
                                            <label for="Nutrition">
                                                <input type = checkbox id = 'Nutrition' class="link" name = 'Nutrition'> Nutrition
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Social Studies</div>
                                        <div class="dropdown-links">
                                            <label for="History">
                                                <input type = checkbox id = 'History' class="link" name = 'History'> History
                                            </label>
                                            <label for="Economics">
                                                <input type = checkbox id = 'Economics' class="link" name = 'Economics'> Economics
                                            </label>
                                            <label for="Government">
                                                <input type = checkbox id = 'Government' class="link" name = 'Government'> Government
                                            </label>
                                            <label for="Geography">
                                                <input type = checkbox id = 'Geography' class="link" name = 'Geography'> Geography
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Business</div>
                                        <div class="dropdown-links">
                                            <label for="Accounting">
                                                <input type = checkbox id = 'Accounting' class="link" name = 'Accounting'> Accounting
                                            </label>
                                            <label for="Banking & Finance">
                                                <input type = checkbox id = 'Banking & Finance' class="link" name = 'Banking & Finance'> Banking & Finance
                                            </label>
                                            <label for="Entrepreneurship">
                                                <input type = checkbox id = 'Entrepreneurship' class="link" name = 'Entrepreneurship'> Entrepreneurship
                                            </label>
                                            <label for="Marketing">
                                                <input type = checkbox id = 'Marketing' class="link" name = 'Marketing'> Marketing
                                            </label>
                                            <label for="Real Estate">
                                                <input type = checkbox id = 'Real Estate' class="link" name = 'Real Estate'> Real Estate
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Life Skills</div>
                                        <div class="dropdown-links">
                                            <label for="Cars">
                                                <input type = checkbox id = 'Cars' class="link" name = 'Cars'> Cars
                                            </label>
                                            <label for="College Admissions">
                                                <input type = checkbox id = 'College Admissions' class="link" name = 'College Admissions'> College Admissions
                                            </label>
                                            <label for="Job Applications">
                                                <input type = checkbox id = 'Job Applications' class="link" name = 'Job Applications'> Job Applications
                                            </label>
                                            <label for="Social Media">
                                                <input type = checkbox id = 'Social Media' class="link" name = 'Social Media'> Social Media
                                            </label>
                                            <label for="Physical Arts">
                                                <input type = checkbox id = 'Physical Arts' class="link" name = 'Physical Arts'> Physical Arts
                                            </label>
                                            <label for="Visual Arts">
                                                <input type = checkbox id = 'Visual Arts' class="link" name = 'Visual Ats'> Visual Arts
                                            </label>
                                            <label for="Music">
                                                <input type = checkbox id = 'Music' class="link" name = 'Music'> Music
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Foreign Languages</div>
                                        <div class="dropdown-links">
                                            <label for="English">
                                                <input type = checkbox id = 'English' class="link" name = 'English'> English
                                            </label>
                                            <label for="Spanish">
                                                <input type = checkbox id = 'Spanish' class="link" name = 'Spanish'> Spanish
                                            </label>
                                            <label for="French">
                                                <input type = checkbox id = 'French' class="link" name = 'French'> French
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="skills-panel need" id="panel-need">
                                <div class="information-grid">
                                    <div>
                                        <div class="dropdown-header">Programming Languages</div>
                                        <div class="dropdown-links">
                                            <label for="Python">
                                                <input type = checkbox id = 'PythonNeed' class="link" name = 'PythonNeed'> Python
                                            </label>
                                            <label for="Java">
                                                <input type = checkbox id = 'JavaNeed' class="link" name = 'JavaNeed'> Java
                                            </label>
                                            <label for="C++">
                                                <input type = checkbox id = 'C++Need' class="link" name = 'C++Need'> C++
                                            </label>
                                            <label for="CSharp">
                                                <input type = checkbox id = 'CSharpNeed' class="link" name = 'CSharpNeed'> CSharp
                                            </label>
                                            <label for="HTML">
                                                <input type = checkbox id = 'HTMLNeed' class="link" name = 'HTMLNeed'> HTML
                                            </label>
                                            <label for="CSS">
                                                <input type = checkbox id = 'CSSNeed' class="link" name = 'CSSNeed'> CSS
                                            </label>
                                            <label for="Javascript">
                                                <input type = checkbox id = 'JavascriptNeed' class="link" name = 'JavascriptNeed'> Javascript
                                            </label>
                                            <label for="SQL">
                                                <input type = checkbox id = 'SQLNeed' class="link" name = 'SQLNeed'> SQL
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Computers & Information Technology</div>
                                        <div class="dropdown-links">
                                            <label for="Microsoft Word">
                                                <input type = checkbox id = 'MicrosoftWordNeed' class="link" name = 'MicrosoftWordNeed'> Microsoft Word
                                            </label>
                                            <label for="Microsoft Excel">
                                                <input type = checkbox id = 'MicrosoftExcelNeed' class="link" name = 'MicrosoftExcelNeed'> Microsoft Excel
                                            </label>
                                            <label for="Microsoft Powerpoint">
                                                <input type = checkbox id = 'MicrosoftPowerpointNeed' class="link" name = 'MicrosoftPowerpointNeed'> Microsoft Powerpoint
                                            </label>
                                            <label for="Networking">
                                                <input type = checkbox id = 'NetworkingNeed' class="link" name = 'NetworkingNeed'> Networking
                                            </label>
                                            <label for="Cybersecurity">
                                                <input type = checkbox id = 'CybersecurityNeed' class="link" name = 'CybersecurityNeed'> Cybersecurity
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Mathematics</div>
                                        <div class="dropdown-links">
                                            <label for="Algebra">
                                                <input type = checkbox id = 'AlgebraNeed' class="link" name = 'AlgebraNeed'> Algebra
                                            </label>
                                            <label for="Statistics">
                                                <input type = checkbox id = 'StatisticsNeed' class="link" name = 'StatisticsNeed'> Statistics
                                            </label>
                                            <label for="Geometry">
                                                <input type = checkbox id = 'GeometryNeed' class="link" name = 'GeometryNeed'> Geometry
                                            </label>
                                            <label for="Pre-Calculus">
                                                <input type = checkbox id = 'Pre-CalculusNeed' class="link" name = 'Pre-CalculusNeed'> Pre-Calculus
                                            </label>
                                            <label for="Calculus">
                                                <input type = checkbox id = 'CalculusNeed' class="link" name = 'CalculusNeed'> Calculus
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Science</div>
                                        <div class="dropdown-links">
                                            <label for="Biology">
                                                <input type = checkbox id = 'BiologyNeed' class="link" name = 'BiologyNeed'> Biology
                                            </label>
                                            <label for="Chemistry">
                                                <input type = checkbox id = 'ChemistryNeed' class="link" name = 'ChemistryNeed'> Chemistry
                                            </label>
                                            <label for="Anatomy & Physiology">
                                                <input type = checkbox id = 'Anatomy&PhysiologyNeed' class="link" name = 'Anatomy&PhysiologyNeed'> Anatomy & Physiology
                                            </label>
                                            <label for="Physics">
                                                <input type = checkbox id = 'PhysicsNeed' class="link" name = 'PhysicsNeed'> Physics
                                            </label>
                                            <label for="Astrology">
                                                <input type = checkbox id = 'AstrologyNeed' class="link" name = 'AstrologyNeed'> Astrology
                                            </label>
                                            <label for="Nutrition">
                                                <input type = checkbox id = 'NutritionNeed' class="link" name = 'NutritionNeed'> Nutrition
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Social Studies</div>
                                        <div class="dropdown-links">
                                            <label for="History">
                                                <input type = checkbox id = 'HistoryNeed' class="link" name = 'HistoryNeed'> History
                                            </label>
                                            <label for="Economics">
                                                <input type = checkbox id = 'EconomicsNeed' class="link" name = 'EconomicsNeed'> Economics
                                            </label>
                                            <label for="Government">
                                                <input type = checkbox id = 'GovernmentNeed' class="link" name = 'GovernmentNeed'> Government
                                            </label>
                                            <label for="Geography">
                                                <input type = checkbox id = 'GeographyNeed' class="link" name = 'GeographyNeed'> Geography
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Business</div>
                                        <div class="dropdown-links">
                                            <label for="Accounting">
                                                <input type = checkbox id = 'AccountingNeed' class="link" name = 'AccountingNeed'> Accounting
                                            </label>
                                            <label for="Banking & Finance">
                                                <input type = checkbox id = 'Banking&FinanceNeed' class="link" name = 'Banking&FinanceNeed'> Banking & Finance
                                            </label>
                                            <label for="Entrepreneurship">
                                                <input type = checkbox id = 'EntrepreneurshipNeed' class="link" name = 'EntrepreneurshipNeed'> Entrepreneurship
                                            </label>
                                            <label for="Marketing">
                                                <input type = checkbox id = 'MarketingNeed' class="link" name = 'MarketingNeed'> Marketing
                                            </label>
                                            <label for="Real Estate">
                                                <input type = checkbox id = 'RealEstateNeed' class="link" name = 'RealEstateNeed'> Real Estate
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Life Skills</div>
                                        <div class="dropdown-links">
                                            <label for="Cars">
                                                <input type = checkbox id = 'CarsNeed' class="link" name = 'CarsNeed'> Cars
                                            </label>
                                            <label for="College Admissions">
                                                <input type = checkbox id = 'CollegeAdmissionsNeed' class="link" name = 'CollegeAdmissionsNeed'> College Admissions
                                            </label>
                                            <label for="Job Applications">
                                                <input type = checkbox id = 'JobApplicationsNeed' class="link" name = 'JobApplicationsNeed'> Job Applications
                                            </label>
                                            <label for="Social Media">
                                                <input type = checkbox id = 'SocialMediaNeed' class="link" name = 'SocialMediaNeed'> Social Media
                                            </label>
                                            <label for="Physical Arts">
                                                <input type = checkbox id = 'PhysicalArtsNeed' class="link" name = 'PhysicalArtsNeed'> Physical Arts
                                            </label>
                                            <label for="Visual Arts">
                                                <input type = checkbox id = 'VisualArtsNeed' class="link" name = 'VisualArtsNeed'> Visual Arts
                                            </label>
                                            <label for="Music">
                                                <input type = checkbox id = 'MusicNeed' class="link" name = 'MusicNeed'> Music
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown-header">Foreign Languages</div>
                                        <div class="dropdown-links">
                                            <label for="English">
                                                <input type = checkbox id = 'EnglishNeed' class="link" name = 'EnglishNeed'> English
                                            </label>
                                            <label for="Spanish">
                                                <input type = checkbox id = 'SpanishNeed' class="link" name = 'SpanishNeed'> Spanish
                                            </label>
                                            <label for="French">
                                                <input type = checkbox id = FrenchNeed class="link" name = 'FrenchNeed'> French
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bottom: Save Button -->
                    <div class="save-changes-wrapper">
                        <button type="submit" class="save-changes-btn">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', path='/js/profile_creation.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>