{% extends 'layout.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="../../static/css/rating.css">
    <title>Rating and Feedback</title>
{% endblock %}

{% block content %}
<div id="rating-page">
    <!-- start: Rating page -->
     <section class="rating-section">
        <div class="rating-content">
            <!-- Page for users to view their rating and feedback they've been given -->
            <!-- start: Progress Bar -->
            <div class="progress-bar-wrapper">
                <button class="close-button"><a href="/pages/profile/{{user.id}}"><i class="fa-solid fa-xmark fa-2x"></i></a></button>
                <h2 class="progress-bar-wrapper-header">{{user.username}}'s Reviews</h2>
                <div class="progress-bar-skills-wrapper">

                    <div class="bar">
                        <div class="progress-bar-info">
                            <span class="skill-bar-title">5 Stars</span>
                        </div>
                        <div class="progress-bar">
                            <span class="five-star"></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="progress-bar-info">
                            <span class="skill-bar-title">4 Stars</span>
                        </div>
                        <div class="progress-bar">
                            <span class="four-star"></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="progress-bar-info">
                            <span class="skill-bar-title">3 Stars</span>
                        </div>
                        <div class="progress-bar">
                            <span class="three-star"></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="progress-bar-info">
                            <span class="skill-bar-title">2 Stars</span>
                        </div>
                        <div class="progress-bar">
                            <span class="two-star"></span>
                        </div>
                    </div>

                    <div class="bar">
                        <div class="progress-bar-info">
                            <span class="skill-bar-title">1 Star</span>
                        </div>
                        <div class="progress-bar">
                            <span class="one-star"></span>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end: Progress Bar-->

            <!-- start: Reviews -->
             <!-- add a create review here -->
            <div id="reviews_list">
                <form id="send_review">
                    <div class="create-review">
                        <div class="review-top">
                            <div class="review-user">
                                <img class="review-profile-image" src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fHww" alt="Profile Photo">
                                <div class="review-user-name"></div>
                            </div>
                            <select class="stars" name="review_rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <input class="create-review-input" id="review_text" name="review_text" placeholder="Write a review...">
                        <button id="submit-a-review" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <!-- last thing to work on -->
            <!-- end: Reviews-->
            <!-- end: Rating page -->
        </div>
    </section>
</div>

<template id="rating-template">
    <div class="review">
        <div class="review-top">
            <div class="review-user">
                <img class="review-profile-image" src="" alt="Profile Photo">
                <div class="review-user-name"></div>
            </div>
            <div class="stars">
            </div>
        </div>
        <div class="review-comment">

        </div>
    </div>
</template>
{% endblock %}

{% block extra_js %}
    <script src="../../static/js/rating.js"></script>
{% endblock %}