{% extends 'layout.html' %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', path = '/css/sessions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path = '/css/tailwindcss-colors.css') }}">
    <title>Sessions</title>
{% endblock %}

{% block content %}
    <div>
        <div class="overall-session-page">
            <!-- Left: Upcoming & Requested Sessions -->
            <div class="session-interaction">
                <!-- Tabs -->
                <div class="button-containers">
                    <button class="tab-buttons active-tab" onclick="tabFunctions('upcoming-sessions-tab', event)">Upcoming Sessions</button>
                    <button class="tab-buttons" onclick="tabFunctions('requested-sessions-tab', event)">Requested Sessions</button>
                </div>
                <!-- Tab Content -->
                <div class="tab-content-collection">
                    <!-- Upcoming Sessions Tab -->
                    <div id="upcoming-sessions-tab" class="creation-tabs">
                        <h2>Upcoming Sessions</h2> <!-- Header -->
                        <div class="upcoming-sessions-container"> <!-- Container for the sessions -->
                            <div class="upcoming-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="upcoming-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <button class="start-session-button"> Start&nbsp;Now </button>
                            </div>
                            <div class="upcoming-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="upcoming-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <button class="start-session-button"> Start&nbsp;Now </button>
                            </div>
                            <div class="upcoming-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="upcoming-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <button class="start-session-button"> Start&nbsp;Now </button>
                            </div>
                        </div>
                    </div>
                    <!-- Requested Sessions Tab -->
                    <div id="requested-sessions-tab" class="creation-tabs" style="display: none">
                        <h2>Requested Sessions</h2> <!-- Header -->
                        <div class="requested-sessions-container">
                            <div class="requested-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="requested-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <!-- Button Container -->
                                <div class="requested-session-button-container">
                                    <button class="accept-session-button"> Accept </button>
                                    <button class="deny-session-button"> Deny </button>
                                </div>
                            </div>
                            <div class="requested-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="requested-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <!-- Button Container -->
                                <div class="requested-session-button-container">
                                    <button class="accept-session-button"> Accept </button>
                                    <button class="deny-session-button"> Deny </button>
                                </div>
                            </div>
                            <div class="requested-session-template">
                                <!-- To be changed with JavaScript! -->
                                <div class="requested-session-content"> GrizzLeeBear - 5/15/2026 - 3:30 PM </div>
                                <!-- Button Container -->
                                <div class="requested-session-button-container">
                                    <button class="accept-session-button"> Accept </button>
                                    <button class="deny-session-button"> Deny </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Right: Request a Session & Terms -->
            <div class="request-sessions">
                <!-- Top: Main Interaction -->
                <div class="request-session-main-content">
                    <div class="request-title">
                        <h2>Request a Session</h2>
                    </div>
                    <form method="get" class="form-wrapper">
                        <!-- With What Tutor -->
                        <div class="with-wrapper">
                            <label for="with">Session with tutor: </label>
                            <input type="text" id="with" name="with" placeholder="Enter the tutor name here." required>
                        </div>
                        <!-- When The Session Will Happen -->
                        <div class="when-wrapper">
                            <label for="date">Date for the session: </label>
                            <input type="date" id="date" name="date" required>
                            <label for="time">Time for the session: </label>
                            <input type="time" id="time" name="time" required>
                        </div>
                        <div class="over-skill-wrapper">
                            <label for="over">Skill being discussed: </label>
                            <input type="text" id="over" name="over" class="text-input" placeholder="Skill will be displayed here." readonly>
                            <!-- Credits to W3Schools for the dropdown menu! -->
                            <div class="dropdown-mini-wrapper">
                                <div class="dropdown">
                                    <button type="button" onclick="dropdownOptions()" class="dropbtn">Select Skill Here <i class="fa-solid fa-chevron-down"></i> </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <div class="dropdown-tab">Algebra</div>
                                        <div class="dropdown-tab">Statistics</div>
                                        <div class="dropdown-tab">Geometry</div>
                                        <div class="dropdown-tab">Pre-Calculus</div>
                                        <div class="dropdown-tab">Calculus</div>
                                        <div class="dropdown-tab">Biology</div>
                                        <div class="dropdown-tab">Chemistry</div>
                                        <div class="dropdown-tab">Anatomy & Physiology</div>
                                        <div class="dropdown-tab">Physics</div>
                                        <div class="dropdown-tab">Astronomy</div>
                                        <div class="dropdown-tab">Nutrition</div>
                                        <div class="dropdown-tab">History</div>
                                        <div class="dropdown-tab">Economics</div>
                                        <div class="dropdown-tab">Government</div>
                                        <div class="dropdown-tab">Geography</div>
                                        <div class="dropdown-tab">English</div>
                                        <div class="dropdown-tab">Spanish</div>
                                        <div class="dropdown-tab">French</div>
                                        <div class="dropdown-tab">Accounting</div>
                                        <div class="dropdown-tab">Banking & Finance</div>
                                        <div class="dropdown-tab">Entrepreneurship</div>
                                        <div class="dropdown-tab">Marketing</div>
                                        <div class="dropdown-tab">Real Estate</div>
                                        <div class="dropdown-tab">Cars</div>
                                        <div class="dropdown-tab">College Admissions</div>
                                        <div class="dropdown-tab">Job Applications</div>
                                        <div class="dropdown-tab">Social Media</div>
                                        <div class="dropdown-tab">Physical Art</div>
                                        <div class="dropdown-tab">Visual Art</div>
                                        <div class="dropdown-tab">Music</div>
                                        <div class="dropdown-tab">Microsoft Applications</div>
                                        <div class="dropdown-tab">Networking</div>
                                        <div class="dropdown-tab">Cybersecurity</div>
                                        <div class="dropdown-tab">Python</div>
                                        <div class="dropdown-tab">Java</div>
                                        <div class="dropdown-tab">C++</div>
                                        <div class="dropdown-tab">C#</div>
                                        <div class="dropdown-tab">HTML</div>
                                        <div class="dropdown-tab">CSS</div>
                                        <div class="dropdown-tab">JavaScript</div>
                                        <div class="dropdown-tab">SQL</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="request-clear-button-container">
                            <button type="submit" class="request-button">Request</button>
                        </div>
                    </form>
                </div>
                <!-- Bottom: Terms -->
                <div class="request-session-terms">
                    <h3 class="term-header">Please Read: </h3>
                    <p>
                        1. When requesting a session, please follow our <a href="/pages/terms">terms</a>. <br>
                        2. If timezones are different with the tutor, their time will be correctly correlated with yours. <br>
                        3. You can use messages to communicate with your tutor ahead of time or after the session. <br>
                    </p>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', path = '/js/sessions.js') }}"></script>
    </div>
{% endblock %}