<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Website CSS -->
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Sign Up Page</title>
</head>
<body id="signup-page">
    <!-- Signup Page -->
    <div class="wrapper">
        <form method="get" id="signup_form">
            <h1>Sign Up For SkillSwap</h1>

            <div class="input-box">
                <input type="text" placeholder="Username" name = 'username' id="username" required>
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Email" name = 'email' id="email" required>
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" name = 'password' id="password" required>
                <i id="passwordToggle" class="fa-solid fa-lock"></i>
            </div>

            <div class="requirements">
                <ul>
                    <li id="eightChars">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain at least 8 characters</div>
                    </li>
                    <li id="uppercaseChar">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain an uppercase character</div>
                    </li>
                    <li id="numSpecial">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain a number or special character</div>
                    </li>
                </ul>
            </div>

            <div class="extra-information">
                <label><input type="checkbox"> 
                    I wish to receive emails about SkillSwap, SkillSwap Sessions, and more.
                </label>
                <p>
                    By creating an account, you agree to our <a href="#">Terms</a>.
                </p>
            </div>

            <button type="submit" class="signup">Sign Up</button>

            <div class="login-link">
                <p>
                    Already have an account? <a href="/pages/login">Login</a>
                </p>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/signup_login.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
</body>
</html>