<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/terms.css">
    <title>Terms and Conditions</title>
</head>
<body>
    <!-- The Terms Page -->
    <!-- Introduction -->
    <div class="preview-to-website">
        <div class="preview-title">Terms of Use</div>
        <div class="preview-description">
            This page contains our rules and conditions that you must agree to. <br>
            Last updated Jan 10, 2026.
        </div>
    </div>
    <!-- Terms of Use -->
    <div class="terms-container">
        <div class="terms-intro">
            <h1>AGREEMENT TO TERMS</h1>
            <p>
                Welcome to SkillSwap. Please read these rules of the website before continuing to the use of the website section.
                <br> <br>
                1. These Terms and Conditions govern your use of the website. By using this website, you agree to be bound by these terms.
                <br> <br>
                2. This Privacy Policy governs the manor in which SkillSwap: Student Talent Exchange Platform collects, uses, and discloses information collected from users (each, a "User") of SkillSwap ("Site").
                This privacy policy applies to the Site and all products and serves offered by SkillSwap: Student Talent Exchange Platform.
                <br> <br>
                3. We have the ability to revise these terms at any time without notice. The continued use of our website means you agree to be bound by the updated terms.
            </p>
        </div>
        <div class="terms-wrapper">
            <h1>USE OF THE WEBSITE</h1>
            <div class="terms-section">
                1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae officiis sed et aspernatur harum distinctio earum repudiandae qui ipsum, natus facilis quisquam accusamus, id minus molestias labore necessitatibus neque cum!
                Sed minus necessitatibus pariatur recusandae praesentium quaerat impedit, fugiat iure placeat qui tempora assumenda reiciendis fuga deserunt ratione voluptatem quos nulla! Fuga eligendi tempora voluptate ullam nam illum libero earum?
            </div>
            <div class="terms-section">
                2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit enim, fuga, exercitationem in maxime ducimus quam soluta ea incidunt animi voluptatum excepturi ullam consequatur molestias laborum ut facilis magni porro.
                Impedit tenetur placeat, maiores, doloremque porro tempora aliquam cupiditate maxime quod reiciendis a adipisci voluptas excepturi praesentium! Dolores doloremque porro a, atque deserunt ea beatae, mollitia neque ipsam, molestias aut?
                Ut, amet deserunt quibusdam in voluptas, reprehenderit quae modi pariatur officia placeat quod sapiente velit? Qui, modi autem consectetur eaque doloribus unde non vel ratione natus minus ipsa molestias pariatur?
            </div>
            <div class="terms-section">
                3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatum, velit odio totam vel at rem vero consequatur esse a repudiandae excepturi mollitia fugiat soluta voluptate suscipit quo quasi sint.
            </div>
            <div class="terms-section">
                4. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quis eveniet doloribus! Vero esse iste iure maiores ut minus nihil alias cupiditate assumenda illum, sunt natus repellat, praesentium voluptatum quis.
                Fugiat quo tenetur, consequatur, reprehenderit, qui excepturi sequi incidunt veritatis temporibus optio voluptates impedit non molestias rerum nostrum illum aperiam cum? Fugiat itaque amet voluptatem optio velit quia et quo.
                Repudiandae voluptatum architecto mollitia error. Ducimus beatae repellat adipisci consequatur suscipit. Excepturi eveniet nostrum totam sunt sequi necessitatibus rem mollitia optio quaerat ipsam accusamus, vero unde officia similique beatae quam?
                Consectetur iste vero optio aliquam, aspernatur sequi cumque, at iusto quisquam necessitatibus porro voluptatum alias libero accusantium deserunt aut? Ad cum voluptatum voluptas autem voluptates dolore similique quos voluptate quo!
                Fugiat suscipit in dolor vitae nulla expedita excepturi nihil. Harum dolores velit vero debitis consequatur odit molestiae accusantium dicta quas. Cupiditate repellendus temporibus soluta explicabo iste pariatur praesentium dolor alias.
                Molestias, nobis itaque similique provident illum beatae praesentium id nostrum hic quisquam in corporis voluptatibus eaque dicta. Doloribus, impedit, ut ducimus deleniti atque repellendus saepe tempora consectetur dolore reprehenderit fuga!
                Ullam labore animi dignissimos sequi repellat pariatur similique voluptatum suscipit voluptatibus. Vitae in impedit sint. Officiis, repudiandae numquam? Quaerat atque cum repellat aut velit facilis possimus recusandae quisquam, tenetur et.
            </div>
            <div class="terms-section">
                5. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fuga eligendi sunt dolores. Voluptate nesciunt repellendus facilis in quis odio ullam temporibus exercitationem commodi dolorum similique velit, iste asperiores delectus?
                Eveniet vitae eius iusto adipisci inventore? Error, voluptatibus et accusantium tempore consequatur enim aliquam rem unde in magnam quas eaque quisquam eius nostrum qui. Neque earum necessitatibus id suscipit hic?
                Minima et, porro vel necessitatibus consequatur, error magnam facilis ipsa est, ea nobis accusantium. Placeat exercitationem laboriosam modi repellat error quidem distinctio aliquam fuga, commodi nobis voluptatibus molestiae quia libero.
                Dolore suscipit quo sequi ex quod earum illum reiciendis, expedita cupiditate ipsum architecto, dolores nisi. Dolorum ipsum praesentium sequi harum, dolor tenetur a libero in reprehenderit id deleniti dignissimos sit.
                Ad omnis eveniet illo eaque eius provident, assumenda accusantium distinctio itaque tempora dolor sit molestias. Reiciendis omnis voluptate, doloremque velit dolores magnam dignissimos. Animi soluta quasi nisi veniam vero ratione?
                Corrupti voluptates ea accusantium soluta ipsum! Voluptates omnis consequatur esse sunt minima eligendi laborum? Facilis in expedita eos quo, aliquid saepe non, eveniet, iste obcaecati voluptates velit porro odit voluptatum!
            </div>
            <div class="terms-section">
                6. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae officiis sed et aspernatur harum distinctio earum repudiandae qui ipsum, natus facilis quisquam accusamus, id minus molestias labore necessitatibus neque cum!
                Sed minus necessitatibus pariatur recusandae praesentium quaerat impedit, fugiat iure placeat qui tempora assumenda reiciendis fuga deserunt ratione voluptatem quos nulla! Fuga eligendi tempora voluptate ullam nam illum libero earum?
            </div>
            <div class="terms-section">
                7. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quo magnam. Voluptates cum ipsam quisquam omnis facilis reprehenderit ullam quaerat enim hic, vel incidunt dignissimos alias tempore minima rem harum?
            </div>
            <div class="terms-section">
                8. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum itaque fuga, corrupti voluptate magnam officia unde sint amet perferendis dolor et distinctio laudantium, aperiam quisquam temporibus illo nihil debitis obcaecati.
                Id possimus voluptas alias cum unde animi amet dignissimos repellat quisquam recusandae laudantium nihil incidunt explicabo dicta, eum, quasi earum vel autem accusantium! Dolor quod maxime incidunt maiores natus. Repellendus.
                Error consectetur quae reprehenderit eveniet, dolore quibusdam ducimus sapiente velit quas accusamus veniam expedita ex sunt est voluptatibus, deserunt at illum ratione, dolor porro excepturi nemo aliquam? Eius, recusandae porro?
                Debitis nostrum, iusto, sint autem dignissimos, explicabo ut magnam distinctio ipsum quos animi neque sapiente aspernatur deleniti ex aut. Odit modi voluptatem amet ullam veritatis, illo repudiandae pariatur architecto vero.
            </div>
            <div class="terms-section">
                9. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, accusamus sed non molestiae dolorem nisi cum corrupti rem consequatur quo itaque alias fuga repellat laborum illum placeat minima ipsum quidem.
                Distinctio, pariatur. Repellendus maxime quaerat, eligendi odio earum rem voluptatibus suscipit explicabo iste tempora numquam iusto sed odit dolore, blanditiis omnis quisquam? Optio tempora quisquam aspernatur iure veniam aperiam nisi.
                Minima vel quo velit ut officiis nihil natus cupiditate voluptatum ad soluta! Soluta distinctio officiis vel recusandae nemo ab similique hic aut illum. Asperiores sequi magnam totam exercitationem laboriosam ab?
                Eveniet nesciunt ut dignissimos! Et, recusandae in. Laudantium perferendis aperiam culpa labore voluptatem similique cupiditate magni laborum vero nostrum magnam ea suscipit saepe beatae, quibusdam in eum a modi dignissimos.
                Repellat rem nam, eum ea nostrum amet itaque et labore alias a sint inventore in dolorem nulla aliquid corporis! Pariatur aut id corporis sunt! Laboriosam facilis tempora libero totam ipsam?
                Omnis harum asperiores sapiente doloribus, cupiditate fugit alias nam. Fugit, odio ad. Libero ad assumenda repellat accusamus ullam sint, ea reiciendis maiores dignissimos temporibus? Deserunt dolor esse consectetur repudiandae rem.
                Incidunt neque eligendi nihil nesciunt atque? Odit dolor nostrum laudantium officia quaerat magnam eligendi aliquid laborum architecto quam blanditiis excepturi, harum sint accusantium quia repudiandae pariatur molestias consectetur ducimus id?
                Non, veniam distinctio, quisquam, temporibus impedit doloremque amet repudiandae optio dolore in quaerat? Quisquam modi placeat officia sunt porro provident animi, nemo a itaque labore iusto quos temporibus obcaecati sint.
            </div>
            <div class="terms-section">
                10. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, consequuntur soluta quod nulla cumque voluptates delectus officiis suscipit atque nisi assumenda aspernatur, consequatur eius! Veritatis necessitatibus error dolor id similique.
                Earum laborum debitis obcaecati aliquam corporis placeat blanditiis ratione odio dolorem sit! Pariatur cum doloremque iure deleniti facilis fugit rem, sit praesentium voluptate corporis architecto molestias ratione quas quos blanditiis.
                Dignissimos sapiente molestias quam quia sit sunt. Ullam, enim placeat veniam blanditiis distinctio vero asperiores odio obcaecati nemo consectetur numquam culpa iure officiis ea doloremque rerum pariatur quae eligendi optio!
                Numquam assumenda, sequi quas autem doloremque quidem explicabo quibusdam vitae non magnam provident consectetur beatae tempora cupiditate error, enim deleniti dolores impedit et, nesciunt est voluptatum veritatis? Optio, cum facere?
                Eius, illo adipisci? Consectetur, quasi vitae nemo adipisci consequatur obcaecati laborum corrupti voluptate cupiditate, unde rem tenetur totam quas harum, nesciunt natus aliquam nobis? Provident consequuntur dolorem laborum iure temporibus!
                Harum nobis qui vero veniam illum libero totam eos ratione eaque ut commodi impedit consequatur tenetur officia atque facilis nostrum, quibusdam deleniti natus porro esse magnam ducimus nemo. Nobis, quis.
            </div>
            <div class="terms-section">
                Return to the register page <a href="/pages/register">here</a>, or if you are logged in, return to the home page <a href="/pages/index">here</a>.
            </div>
        </div>
    </div>
</body>
</html>