<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Website CSS -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/update_password.css">
    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Update Password</title>
</head>
<body id="update-password">
    <!-- Update Password Page -->
    <div class="wrapper">
        <form method="get" id="update_password_form">
            <h1>Update Password</h1>

            <div class="text-header">
                Enter your old password and the new password you wish to have.
            </div>

            <div class="input-box">
                <input type="password" placeholder="Old Password" id="oldPassword" name="oldPassword" class="password" required>
                <i class="passwordToggle fa-solid fa-lock"></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="New Password" id="newPassword" name="newPassword" class="password" required>
                <i class="passwordToggle fa-solid fa-lock"></i>
            </div>

            <div class="requirements">
                <ul>
                    <li id="eightChars">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain at least 8 characters</div>
                    </li>
                    <li id="uppercaseChar">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain an uppercase character</div>
                    </li>
                    <li id="numSpecial">
                        <i class="fa-solid fa-xmark"></i>
                        <div>Contain a number or special character</div>
                    </li>
                </ul>
            </div>

            <button type="submit" class="login">Update Password</button>

            <div class="register-link">
                <p>
                    Return to the login page? <a href="/pages/login">Login</a>
                </p>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>      
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
</body>
</html>