<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/cards.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-image">
            <img src="../../images/mathematics.png" alt="">
        </div>
        
        <div class="card-content">
            <div class="creator">
                <i class="fa-solid fa-user"></i>
                <h3>Profile User</h3>
            </div>
            <div class="card-title">
                <h2>Card Title</h2>
            </div>
            <div class="card-desc">
                <p>This is a user card description. If the user exceeds a certain amount of characters, the text must be cut off.</p>
            </div>
            <div class="card-tags">
                <p>Tags (Will change with JS)</p>
            </div>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <p>Rating (xxx Reviews)</p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/16ce6dc272.js" crossorigin="anonymous"></script>
</body>
</html>