<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Navbar</title>
</head>
<body>
  <!-- Navbar template -->
  <ul class="navbar-body">
    <li class="list-item">
      <h3 class="navbar-title">
        <a href="../index.html">SkillSwap</a>
      </h3>
    </li>
    <li class="list-item">
        <h4 class="searchbar-title">
          <a href="../tutor_search.html">Explore</a>
        </h4>
    </li>
    <li class="list-item">
        <p class="placeholder-searchbar">
          Placeholder Search bar.
        </p>
    </li>
    <li class="list-item">
      <button class="navbar-log-in-button">
        <a href="../login.html">Log in</a>
      </button>
    </li>
    <li class="list-item">
      <button class="navbar-signup-button">
        <a href="../signup.html">Sign Up</a>
      </button>
    </li>
    <li class="list-item">
      <img src="" alt="profile picture" class="profile-picture">
    </li>
  </ul>

</body>
</html>