.main {
    box-sizing: border-box;
    min-height: 100vh;
    transition: filter 0ms ease-in-out 300ms;
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.content h2 {
    font-size: 40px;
}

.content img {
    width: 400px;
}

.content > * {
    margin: 10px 0px;
}

.popup {
    position: absolute;
    top: -100%;
    left: 50%; /* left side of the popup aligns with center*/
    transform: translate(-50%, -50%); /* follows left property and makes this truly centered */
    width: 90%;
    max-width: 1700px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    opacity: 0;
    transition: top 0ms ease-in-out 300ms,
            opacity 300ms ease-in-out,
            margin-top 300ms ease-in-out;

    display: grid;
    grid-template-areas:
    "form card"
    "images card";
    place-items: center;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}


.popup > * {
    margin: 15px 0px;
}

body.active-popup {
    overflow: hidden;
}

body.active-popup .main {
    filter: blur(5px);
    background: rgba(0, 0, 0, 0.08);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup {
    top: 50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}

/* Overall */
input[type="radio"] {
    vertical-align: middle;
    margin: 0;
    padding: 10px, 0px;
}

.radio-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, auto); 
  gap: 10px; 
}

.radio-group-grid input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle; 
}

.textarea {
    position: relative;
    background-color: rgb(220, 220, 220);
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 90%;
    max-width: 40vw;
    height: 130px;
    resize: none;
}

.gallery-image:hover {
    outline: 2px solid rgb(0, 220, 0);
}

.card-container {
    grid-area: card;
}

#select-category {
    grid-area: form;
}

.text-group {
    position: relative;
    width: 90%;
    max-width: 40vw;
}

#characters-left {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2%;
    margin-right: 5%;
    opacity: 0.25;
}

/* Carousel CSS */
/* Carousel CSS */
/* Carousel CSS */

#image-collection {
    visibility: hidden;
    grid-area: images;
    width: 40vw;
    height: 200px;
}

.post-slider {
    position: relative;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 5%; 
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.post-wrapper {
    width: 70%;
    height: 30%;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}

.post {
    width: 300px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.gallery-image {
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
    height: 160px;
    object-fit: cover;
}

/* Card Title */
.card
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

/* Card Image */
.card-image 
{
    text-align: center;
}

.card-image img
{
    border-radius: 20px;
    width: 300px;
    height: auto;
    object-fit: cover;
}

/* Everything under the image */
.card-content
{
    margin-top: -10px;
    display: inline-block;
    height: 60%;
}

/* Card Creator */
.creator
{
    display: flex;
    align-items: center;
}

.creator i
{
    margin-right: 5px;
}

/* Card Description */
.card-desc
{
    margin-top: -25px;
    overflow-wrap: break-word;
    height: 120px;
}

/* Card Tags */
.card-tags
{
    margin-top: 30px;
}

/* Ratings */
.rating
{
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.rating i
{
    margin-right: 5px;
}

@media only screen and (max-width: 700px) {

body.active-popup {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup {
    position: absolute;
    top: -100%;
    left: 50%; /* left side of the popup aligns with center*/
    transform: translate(-50%, -50%); /* follows left property and makes this truly centered */
    width: 90%;
    padding: 20px;
    opacity: 0;
    transition: top 0ms ease-in-out 300ms,
            opacity 300ms ease-in-out,
            margin-top 300ms ease-in-out;

    display: grid;
    grid-template-areas:
    "form"
    "images"
    "card";
    place-items: center;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#image-collection {
    visibility: hidden;
    grid-area: images;
    width: 90vw;
    height: 200px;
}

.textarea {
    position: relative;
    background-color: rgb(220, 220, 220);
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 90%;
    max-width: 90vw;
    height: 130px;
    resize: none;
}

.text-group {
    position: relative;
    width: 90%;
    max-width: 90vw;
}

/* Card Title */
.card-container
{
    /* width: 80vw; */
}

}